$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
// endbower

.angular-google-map-container { height: 400px; }

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

body {
  padding: 0;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */
.header {
  margin-bottom: 10px;

  /* Make the masthead heading the same height as the navigation */
  h3 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 40px;
    padding-bottom: 19px;
  }
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;

  .btn {
    font-size: 21px;
    padding: 14px 24px;
  }
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;

  p + h4 {
    margin-top: 28px;
  }
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
    /*
  .container {
    max-width: 730px;
  }
  */

  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}

.nav-btn-container {
    text-align: center;
}

figure {
  width: -webkit-min-content;
  width: -moz-min-content;
  width: min-content;
  margin-right: 10px;
  margin-top: 10px;
}

.input-short {
    width: 80px !important;
}

.infoBox {
    background: rgb(255, 255, 255);
    border: 1px solid black;
    margin-top: 8px;
    padding: 5px;
    width: 350px;
}

.image-container {
}

.nav, .pagination, .carousel, .panel-title a { cursor: pointer; }

.animate-paginate, .animate-right {
    left: 0;
    top: 0;
}

.animate-paginate.ng-enter,
.animate-paginate.ng-hide-remove,
.animate-right.ng-hide-remove {
  transition: all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
}

.animate-paginate.ng-leave, .animate-paginate.ng-hide-add, .animate-right.ng-hide-add {
  transition: all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
}

.animate-paginate.ng-enter, .animate-paginate.ng-hide,
.animate-paginate.ng-leave.ng-leave-active {
  left: -9999px;
}

.animate-paginate.ng-hide-add,
.animate-paginate.ng-leave,
.animate-paginate.ng-enter.ng-enter-active {
  left: 0;
}

.animate-image {
    @extend .animate-paginate;
}

.animate-paginate.ng-enter,
.animate-paginate.ng-leave {
    position: absolute;
}

.animate-image.ng-enter,
.animate-image.ng-leave,
.animate-right.ng-hide-add,
.animate-right.ng-hide-remove {
  /*transition: all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;*/
  position: relative;
}



.animate-right.ng-hide {
  left: -9999px;
}

.animate-top {
    opacity: 1;
}

.animate-top.ng-hide-remove,
.animate-top.ng-hide-add,
.animate-top.ng-enter,
.animate-top.ng-leave {
  transition: all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
  position: relative;
}

.animate-top.ng-enter, .animate-top.ng-hide,
.animate-top.ng-leave.ng-leave-active {
  opacity: 0;
  height: 0;
}

.animate-top.ng-leave,
.animate-top.ng-enter.ng-enter-active {
  opacity: 1;
}

.pagination-nav {
    height: 50px;
}

