$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
// endbower

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

body {
  padding: 0;
}

/* Custom page header */
.header {

  /* Make the masthead heading the same height as the navigation */
  h3 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 40px;
    padding-bottom: 19px;
  }
}

.container-narrow > hr {
  margin: 30px 0;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {

  /* Remove the padding we set earlier */
  .header,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
}

.nav-btn-container {
    line-height: 20px;
}

.input-short {
    width: 80px !important;
}

.infoBox {
    background: rgb(255, 255, 255);
    border: 1px solid black;
    margin-top: 8px;
    padding: 5px;
    width: 350px;
}

.nav, .pagination, .carousel, .panel-title a { cursor: pointer; }

.animate-top {
    opacity: 1;
}

.animate-top.ng-hide-remove,
.animate-top.ng-hide-add,
.animate-top.ng-enter,
.animate-top.ng-leave {
  transition: all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
  position: relative;
  top: 0;
}

.animate-top.ng-enter, .animate-top.ng-hide,
.animate-top.ng-leave.ng-leave-active {
  opacity: 0;
  height: 0;
  top: -50px;
}

.animate-top.ng-leave,
.animate-top.ng-enter.ng-enter-active {
  opacity: 1;
}

.animate-text {
    @extend .animate-top
}

.animate-text.ng-enter,
.animate-text.ng-hide,
.animate-text.ng-leave.ng-leave-active {
    top: 0;
}

.navbar {
    margin-bottom: 0;
}

.no-side-padding {
    padding-left: 0;
    padding-right: 0;
}

.no-margin {
    margin: 0 !important;
}

.center-align {
    margin: auto;
}

.collapse-with-teaser {
    min-height: 105px !important;
    display: block !important;
    overflow: hidden;
}

.photo-gallery {
    max-width: 13000px;
}

.gallery-thumbnail-container {
    display: inline-block;
    height: 100px;
    width: 100px;
    overflow: hidden;
    padding: 5px;
}

.error-msg {
    padding: 15px;
}

.translate-cloak {
    /*display: none !important;*/
}

