<div class="modal-header">
  <div class="row">
    <div class="col-xs-10 text-left">
      <h3 class="modal-title">{{ 'CEMETERY_DEMO.PEOPLE_BURIED' | translate }}
        <br>
        {{ 'CEMETERY_DEMO.CEMETERY_NAME' | translate }}: {{ vm.cemetery}}
        <br>

        <span ng-if="vm.unitChart">{{ 'CEMETERY_DEMO.UNIT' | translate }}:</span>
        <span ng-if="vm.rankChart">{{ 'CEMETERY_DEMO.RANK' | translate }}:</span>
        <a ng-if="vm.groupId && !vm.other" ng-click="vm.close()" ws-page-link="vm.groupId">{{ vm.group }}</a>

        <span ng-if="!vm.groupId || vm.other">
          <span ng-if="vm.wayChart">{{ 'CEMETERY_DEMO.CAUSE_OF_DEATH' | translate }}:</span>
          <span ng-if="vm.ageChart">{{ 'CEMETERY_DEMO.AGE_AT_DEATH' | translate }}:</span>
          {{ vm.group }}
        </span>

      </h3>
    </div>
    <div class="col-xs-2">
      <a href="#" ng-click="vm.close()" class="no-decoration btn-lg pull-right glyphicon glyphicon-remove"></a>
    </div>
  </div>
</div>
<div class="modal-body">
  <ul class="list-group row list-group-persons" ng-if="vm.persons">
    <li class="list-group-item col-xs-6" ng-repeat="person in vm.persons">
      <a ng-click="vm.close()" ws-page-link="person.uri">{{ person.label }}</a><br>
      <span ng-if="vm.other && vm.rankChart">{{ 'CEMETERY_DEMO.RANK' | translate }}:</span>
      <span ng-if="vm.other && vm.unitChart">{{ 'CEMETERY_DEMO.UNIT' | translate }}:</span>
      <a ng-if="vm.other" ng-click="vm.close()" ws-page-link="person.groupUri">{{ person.groupLabel }}</a>
    </li>
  </ul>
</div>
