<div class="modal-header">
  <div class="row">
    <div class="col-xs-10 text-left">
      <h3 class="modal-title">
        <div ng-switch="!!(vm.photo.created || vm.photo.places.length)">
          <span ng-switch-when="true">
            {{ vm.photo.created | date:'dd.MM.yyyy' }}
            <span ng-repeat="place in vm.photo.places">
              <a ng-click="vm.close()" ws-page-link="place.id">{{ place.label }}</a>
            </span>
          </span>
          <span ng-switch-when="false" translate>PHOTO</span>
      </h3>
    </div>
    <div class="col-xs-2">
      <a href="#" ng-click="vm.close()" class="no-decoration btn-lg pull-right glyphicon glyphicon-remove"></a>
    </div>
  </div>
</div>
<div class="modal-body">
  <div class="row">
    <div class="col-md-7">
      <img ws-fallback-img class="img img-responsive" ng-src="{{::vm.photo.url}}"
      title="{{::vm.photo.description}} | {{ ::vm.photo.source }} {{::vm.photo.created}}" />
    </div>
    <div class="col-md-5">
      <p>
      {{ vm.photo.description }}
      <span ng-if="vm.photo.place_string">({{ vm.photo.place_string }})</span>
      </p>
      <p ng-if="vm.photo.note"><small>{{ vm.photo.note }}</small></p>
      <div class="row">
        <div class="col-md-6">
          <div ng-if="vm.photo.creators || vm.photo.photographer_string">
            <h5><span translate>PHOTOGRAPHER</span>:</h5>
            <ul class="list-unstyled" ng-if="vm.photo.creators">
              <li ng-repeat="person in vm.photo.creators">
              <a ng-click="vm.close()" ws-page-link="person.id">{{ person.label || person.sname }}</a>
              </li>
            </ul>
            <p ng-if="!vm.photo.creators && vm.photo.photographer_string">{{ vm.photo.photographer_string }}</p>
          </div>
        </div>
        <div class="col-md-6">
          <div ng-if="vm.photo.people">
            <h5><span translate>PHOTO_DEMO.RELATED_PEOPLE</span>:</h5>
            <ul class="list-unstyled" ng-if="vm.photo.people">
              <li ng-repeat="person in vm.photo.people">
              <a ng-click="vm.close()" ws-page-link="person.id">{{ person.label }}</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div ng-if="vm.photo.units">
            <h5><span translate>PHOTO_DEMO.RELATED_UNITS</span>:</h5>
              <ul class="list-unstyled" ng-if="vm.photo.units">
                <li ng-repeat="unit in vm.photo.units">
                <a ng-click="vm.close()" ws-page-link="unit.id">{{ unit.label }}</a>
                </li>
              </ul>
            </div>
        </div>
      </div>
      <hr/>
      <p><a ng-click="vm.close()" ws-page-link="vm.photo.id" translate>SHOW_INFO_PAGE</a></p>
    </div>
  </div>
</div>
<div class="modal-footer">
  <p><span translate>SOURCE</span>: {{ vm.photo.source }}</p>
</div>
