<div ng-repeat="v in ($ctrl.property | castArray)">
  <span ng-switch="!!v.valueLabel">
    <span ng-switch-when="true">
      <a ws-page-link="v.id">{{ v.valueLabel }}</a>
    </span>
    <span ng-switch-when="false">
      {{ $ctrl.isDateValue ? (v.id | date:'dd.MM.yyyy') : v.id }}
    </span>
  </span>
  <span ng-if="v.date_begin">({{ v.date_begin | date:'dd.MM.yyyy' }} &ndash; {{ v.date_end | date:'dd.MM.yyyy' }})</span>
  <span ng-if="v.source"><small>({{ 'SOURCE' | translate }}: {{ v.source | concatList:'; ' }})</small></span>
  <hr ng-if="$ctrl.showHr() && !$last">
</div>
