<div class="row">
  <div class="col-lg-5 col-lg-push-7 col-md-12">
    <div class="row">
      <div class="col-md-12">
        <div ng-if="ctrl.getCurrent()">
          <event-details data-event=ctrl.getCurrent()></event-details>
          <p><a ws-page-link="ctrl.getCurrent().id" translate>SHOW_INFO_PAGE</a> | <a ng-click="ctrl.goToNext()" translate>GO_TO_NEXT_EVENT</a></p>
          <ws-photo-gallery data-images="ctrl.getImages()"></ws-photo-gallery>
        </div>
        <div>
          <div ng-if="!ctrl.getCurrent()">
            <!-- Help text -->
            <h1 translate>{{ ctrl.title }}</h1>
            <h3 translate>{{ ctrl.helpTextTitle }}</h3>
            <translate>{{ ctrl.helpText }}</translate>
            <div ng-include="'views/partials/event_colors.html'"></div>
          </div>
          <hr/>
          <!-- Casualty statistics -->
          <div ng-include="'views/partials/casualty_stats_partial.html'"></div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-7 col-lg-pull-5 col-md-12">
    <div ng-include="'views/partials/timemap_partial.html'"></div>
  </div>
</div>
