<div class="row">
  <div class="col-lg-5 col-lg-push-7 col-md-12">
    <div class="row">
      <div class="col-md-12">
        <div ng-if="ctrl.getCurrent()">
          <!-- Event details -->
          <h3>
            <span ng-repeat="place in ctrl.getCurrent().places">
              <a ws-page-link="place.id">{{ place.label }}</a>{{ $last ? ' ' : ', ' }}
            </span>
            {{ ctrl.getCurrent().timeSpanString }} - {{ ctrl.getCurrent().getTypeLabel() }}
          </h3>
          <p>{{ ctrl.getCurrent().getDescription() }}</p>
          <p ng-if="ctrl.getCurrent().source">
            <small>{{ 'SOURCE' | translate }}: {{ ctrl.getCurrent().source | concatList }}</small>
          </p>
          <p ng-repeat="person in ctrl.getCurrent().people" style="text-transform: capitalize">
          <a ws-page-link="person.id">{{ person.label }}</a>
          </p>
          <p ng-repeat="unit in ctrl.getCurrent().units" style="text-transform: capitalize">
          <a ws-page-link="unit.id">{{ unit.label }}</a>
          </p>
          <p><a ws-page-link="ctrl.getCurrent().id" translate>SHOW_INFO_PAGE</a></p>
          <ws-photo-gallery data-images="ctrl.getImages()"></ws-photo-gallery>
        </div>
        <div>
          <div ng-if="!(ctrl.getCurrent() || ctrl.currentObject)">
            <!-- Help text -->
            <h1 translate>{{ ctrl.title }}</h1>
            <h3 translate>{{ ctrl.helpTextTitle }}</h3>
            <translate>{{ ctrl.helpText }}</translate>
            <div ng-include="'views/partials/event_colors.html'"></div>
          </div>
          <hr/>
          <!-- Casualty statistics -->
          <div id="casualtyCount" ng-click="ctrl.showCasualtyStats = !ctrl.showCasualtyStats">
            <p>{{ 'CASUALTIES_DURING_TIMESPAN' | translate }} {{ ctrl.getMinVisibleDate() | date : 'd.M.yyyy' }} - {{ ctrl.getMaxVisibleDate() | date : 'd.M.yyyy' }}: {{ ctrl.getCasualtyCount() }}
            | <a>{{ ctrl.showCasualtyStats ? 'HIDE_ADDITIONAL_INFO' : 'SHOW_ADDITIONAL_INFO' | translate }}</a>
            </p>
          </div>
          <div uib-collapse="!ctrl.showCasualtyStats">
            <div class="row" ng-repeat="casualtyClass in ctrl.getCasualtyStats()">
              <div ng-if="casualtyClass.id">
                <div class="col-xs-10 casualtyCount">
                  {{ casualtyClass.description }}
                </div>
                <div class="col-xs-2 casualtyCount">
                  {{ casualtyClass.count }}
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-7 col-lg-pull-5 col-md-12">
    <div ng-include="'views/partials/timemap_partial.html'"></div>
  </div>
</div>
