<p ng-if="ctrl.person.birth || ctrl.person.death">
  {{ ctrl.person.birth || '?' }} {{ ctrl.person.birth_place }} &ndash;
  {{ ctrl.person.death || '?' }} {{ ctrl.person.death_place }}
</p>
<p class="preserve-whitespace" ng-if="ctrl.person.getDescription()">{{ ctrl.person.getDescription() }} <span ng-if="ctrl.person.wikilink">(<a ng-href="{{ ctrl.person.wikilink[0].id }}">Wikipedia</a>)</span>
</p>
<p ng-if="ctrl.person.wound">
  {{ 'PERSONS_DEMO.WOUNDED' | translate }} {{ ctrl.person.wound || '?' }} {{ ctrl.person.wound_place }}
</p>
<p ng-if="ctrl.person.disapp">
  {{ 'PERSONS_DEMO.DISAPPEARED' | translate }}  {{ ctrl.person.disapp || '?' }} {{ ctrl.person.disapp_place }}
</p>
<p ng-if="ctrl.person.way_to_die">
  {{ ctrl.person.way_to_die | capitalizeFirst }}.
  <span ng-if="ctrl.person.bury_place">{{ 'PERSONS_DEMO.BURIED_IN' | translate }} {{ ctrl.person.bury_place }}</span>
</p>
<p ng-if="ctrl.person.cas_unit">{{ 'PERSONS_DEMO.SERVED_IN_UNIT' | translate }} {{ ctrl.person.cas_unit }}</p>
<p ng-if="ctrl.person.rank">{{ ctrl.person.rank }}</p>
<p>
  <small ng-if="ctrl.person.source || ctrl.person.sid">{{ 'SOURCE' | translate }}: {{ ctrl.person.source || ctrl.person.sid | concatList }} </small>
</p>
<p>
  <small class="uri">{{ 'URI' | translate }}:&nbsp;{{ ctrl.person.id }}</small>
</p>
