<p ng-if="ctrl.person.birth || ctrl.person.death">
  {{ ctrl.person.birth || '?' }} {{ ctrl.person.birth_place }} -
  {{ ctrl.person.death || '?' }} {{ ctrl.person.death_place }}
</p>
<p ng-if="ctrl.person.way_to_die">
  {{ ctrl.person.way_to_die | capitalizeFirst }}.
  <span ng-if="ctrl.person.bury_place">{{ 'PERSONS_DEMO.BURIED_IN' | translate }} {{ ctrl.person.bury_place }}</span>
</p>
<p ng-if="ctrl.person.profession">{{ 'PERSONS_DEMO.PROFESSION' | translate }}: {{ ctrl.person.profession }}</p>
<p ng-if="ctrl.person.mstatus">
  {{ 'PERSONS_DEMO.MARITAL_STATUS' | translate }}: {{ ctrl.person.mstatus | lowercase }},
  <span translate="PERSONS_DEMO.NUMBER_OF_CHILDREN"
    translate-values="{ NUM: ctrl.person.num_children }"
    translate-interpolation="messageformat"></span>
</p>
  <p ng-if="ctrl.person.cas_unit">{{ 'PERSONS_DEMO.SERVED_IN_UNIT' | translate }} {{ ctrl.person.cas_unit }}</p>
<p ng-if="ctrl.person.rank">{{ ctrl.person.rank }}</p>
<p ng-repeat="promotion in ctrl.person.promotions">{{ promotion }}</p>
<p ng-if="ctrl.person.source || ctrl.person.sid">
  {{ 'SOURCE' | translate }}: {{ ctrl.person.source || ctrl.person.sid | concatList }}
</p>
