<div ng-if="ctrl.person.prisonerRecord.length">
  <h3 translate="PRISONER_RECORD"></h3>
  <table class="table death-record">
    <tr ng-repeat="property in ctrl.person.prisonerRecord">
      <td>{{ property.propertyLabel }}</td>
      <td>
        <div ng-if="property.value | isArray">
          <div ng-repeat="v in property.value">
              {{ v }}<span ng-if="property.source[$index] != 'no_source_for_' + v "> (lähde: {{ property.source[$index] }}</span>
          </div>
        </div>
        <div ng-if="!(property.value | isArray)">
            {{ property.value }}
        </div>
      </td>
    </tr>
  </table>
</div>
