<div infinite-scroll='vm.nextPage()'
    infinite-scroll-disabled='vm.isScrollDisabled()'
    infinite-scroll-distance='0'>
  <div ng-repeat="photo in vm.photos" class="photo-thumbnail-container">
    <div class="clearfix" ng-if="$index % 3 == 0"></div>
    <div class="col-sm-4">
      <a href="" ng-click="vm.openModal(photo)">
        <img ng-src="{{::photo.url}}" title="{{::photo.description}} | SA-kuva {{::photo.created}}" />
      </a>
    </div>
</div>
<img class="loading-img" src="images/loading-lg.gif" ng-if="vm.isLoadingResults"></img>
