<div ng-if="ctrl.imageCount">
  <h3 id="links-header" class="links-header-class">Valokuvat</h3>
  <p>{{ ctrl.imageCount }} kuvaa
    <button class="btn btn-primary btn-xs" ng-click="ctrl.toggleCollapse()">
      <span ng-if="ctrl.isCollapsed">Hae ja näytä kaikki kuvat</span>
      <span ng-if="!ctrl.isCollapsed">Näytä vähemmän kuvia</span>
    </button> <img ng-show="ctrl.isLoadingImages" src="images/loading.gif" />
  </p>
  <div class="collapse-with-teaser photo-gallery" uib-collapse="ctrl.isCollapsed" id="photo-thumbs">
    <div id="photo-container">
      <a ng-cloak ng-repeat="img in ctrl.photos" data-gallery
        title="{{ img.description }} ({{ img.created }} SA-kuva)" href="{{ img.url }}">
        <img fallback-img-for-gallery ng-src="{{ img.thumbnail }}" /></a>
    </div>
  </div>
</div>
