<div class="modal-body">
  <div class="row">
    <div class="col-md-7">
      <img ng-src="{{::vm.photo.url}}"
        title="{{::vm.photo.description}} | SA-kuva {{::vm.photo.created}}" />
    </div>
    <div class="col-md-5">
      <p>
        {{vm.photo.created | date:'dd.MM.yyyy'}}
        <span ng-repeat="place in vm.photo.places">
          <a ng-click="vm.close()" ws-page-link="place.id">{{ place.label }}</a>
        </span>
      </p>
      <p>
        {{vm.photo.description}}
        <span ng-if="vm.photo.place_string">({{vm.photo.place_string}})</span>
      </p>
      <ul class="list-unstyled" ng-if="vm.photo.people">
        <li ng-repeat="person in vm.photo.people">
          <a ng-click="vm.close()" ws-page-link="person.id">{{ person.label }}</a>
        </li>
      </ul>
      <p><a ng-click="vm.close()" ws-page-link="vm.photo.id" translate>SHOW_INFO_PAGE</a></p>
    </div>
  </div>
</div>
