<div class="row" ng-controller="SettingCtrl as ctrl">
  <div class="col-md-12">
    <div uib-collapse="!ctrl.settingsVisible">
      <div class="form-inline">
          <label for="photo-days-before">Valokuvien aikahaarukka 
            <input min="0" name="photo-days-before" class="form-control input-short"
              type="number" ng-model="ctrl.photoDaysBeforeSetting" /> päivää ennen
          </label>
          <label for="photo-days-after">
            <input min="0" name="photo-days-after" class="form-control input-short"
              type="number" ng-model="ctrl.photoDaysAfterSetting" /> päivää jälkeen tapahtuman.
          </label>
          <label for="photo-place">
            <input name="photo-place" class="form-control" type="CHECKBOX" ng-model="ctrl.photoPlaceSetting" />
              Rajoita kuvienottopaikka samaan kuntaan tapahtumien kanssa.
          </label>
          <button class="btn btn-primary" ng-click="ctrl.update()" ng-if="ctrl.photoConfigChanged()">
            Päivitä
          </button>
          <label for="heatmap-toggle">
            <input ng-change="ctrl.updateHeatmap()" name="heatmap-toggle" class="form-control"
              type="CHECKBOX" ng-model="ctrl.showCasualtyHeatmap" /> Näytä lämpökartta menehtyneistä.
          </label>
      </div>
    </div>
  </div>
</div>
