<div class="row">
  <div class="col-lg-5 col-lg-push-7 col-md-12">
    <div class="row">
      <div class="col-md-12">
        <div ng-if="timemapCtrl.current">
          <h3>
            <span ng-repeat="place in timemapCtrl.current.opts.event.places">
              <a page-link="place.id">{{ place.label }}</a>{{ $last ? ' ' : ', ' }}
            </span>
            {{ timemapCtrl.current.opts.descTitle }} - {{ timemapCtrl.current.opts.event.type }}
          </h3>
          <p>{{ timemapCtrl.current.opts.description }}</p>
          <p ng-repeat="person in timemapCtrl.current.opts.event.people" style="text-transform: capitalize">
          <a page-link="person.id">{{ person.label }}</a>
          </p>
          <p ng-repeat="unit in timemapCtrl.current.opts.event.units" style="text-transform: capitalize">
          <a page-link="unit.id">{{ unit.label }}</a>
          </p>
          <p><a page-link="timemapCtrl.current.opts.event.id">Näytä tapahtuman tietosivu</a></p>
          <div ng-show="timemapCtrl.images.length === 0">
            <p ng-if="!timemapCtrl.isLoadingImages">
            Ei tapahtumaan liittyviä kuvia.
            </p>
            <p ng-if="timemapCtrl.isLoadingImages">
            Haetaan kuvia <img src="images/loading.gif" />
            </p>
          </div>
          <div ng-show="!timemapCtrl.isLoadingImages && timemapCtrl.images.length">
            <p>
            {{ timemapCtrl.images.length }} kuvaa
            </p>
            <photo-scroller images="timemapCtrl.images"></photo-scroller>
          </div>
        </div>
        <div ng-if="timemapCtrl.isLoadingTimemap">
          <h3>Rakennetaan aikajanaa <img src="images/loading.gif" /></h3>
        </div>
        <div ng-show="!timemapCtrl.isLoadingTimemap">
          <div ng-if="!timemapCtrl.current">
            <h1>{{ timemapCtrl.title }}</h1>
            <h3>Valitse tapahtuma aikajanalta tai kartalta.</h3>
            <p>
            Kartan alla on kaksi yhdessä liikkuvaa aikajanaa.
            Ylempi on yleiskuva sodasta (pystyviivojen väli on yksi kuukausi).
            Tämän janan keskellä on mustana laatikkona viikon mittainen aikaikkuna,
            jonka sisään osuvat tapahtumat näkyvät alemmalla janalla.
            Alemmassa aikajanassa pystyviivojen väli on yksi päivä.
            Aikajanoja voi liikuttaa vetämällä niitä hiirellä sivuttaissuunnassa.
            </p>
            <p>
            Valitsemalla tapahtuman aikajanalta tai kartalta saat lisätietoja siitä.
            Tekstiltään <span style="color: blue">sinisiin</span> tapahtumiin liittyy valokuvia.
            </p>
            <p>
            Kartalla näkyvät viikon aikaikkunan tapahtumat, jos niiden paikka on tiedossa.
            Lisäksi kartalla näkyy lämpökartta aikaikkunan sisällä sodassa menehtyneistä suomalaisista.
            </p>
            <p>
            Asetuksia, kuten valokuvien haun aikahaarukkaa, voi muuttaa valitsemalla yläpalkista "Asetukset". Tämän ohjeen saat näkyviin valitsemalla yläpalkista "Näkymän ohjeet".
            </p>
            <h4>Tapahtumien värikoodit</h4>
            <p><img src="vendor/timemap/images/red-circle.png"> Sotatoimi</p>
            <p><img src="vendor/timemap/images/purple-circle.png"> Poliittinen tapahtuma</p>
            <p><img src="vendor/timemap/images/orange-circle.png"> Muu tapahtuma</p>
            <p><img src="vendor/timemap/images/green-circle.png"> Tällä hetkellä valittu tapahtuma</p>
          </div>
          <hr/>
          <div id="casualtyCount" ng-click="timemapCtrl.showCasualtyStats = !timemapCtrl.showCasualtyStats">
            <p>Menehtyneitä ajanjaksolla {{ timemapCtrl.minVisibleDate.toLocaleDateString() }} - {{ timemapCtrl.maxVisibleDate.toLocaleDateString() }}: {{ timemapCtrl.casualtyCount }}
            | <a ng-show="!timemapCtrl.showCasualtyStats">Näytä lisätietoja</a>
            <a ng-show="timemapCtrl.showCasualtyStats">Piilota lisätiedot</a>
            </p>
          </div>
          <div class="row animate-text" ng-if="timemapCtrl.showCasualtyStats" ng-repeat="casualtyClass in timemapCtrl.casualtyStats">
            <div ng-if="casualtyClass.id">
              <div class="col-xs-10 casualtyCount">
                {{ casualtyClass.description }}
              </div>
              <div class="col-xs-2 casualtyCount">
                {{ casualtyClass.count }}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-7 col-lg-pull-5 col-md-12">
    <div id="timemap" class="animate-right">
      <div id="mapcontainer">
        <div id="map"></div>
      </div>
      <div id="timelinecontainer">
        <div id=timeline></div>
      </div>
    </div>
  </div>
</div>
