<p ng-if="ctrl.unit.altNames.length">
  <span translate>UNIT_DEMO.UNIT_AKA</span> {{ ctrl.unit.altNames | concatList }}
</p>
<p ng-if="ctrl.unit.getDescription()">{{ ctrl.unit.getDescription() }} (Wikipedia)</p>
<p ng-repeat="cmd in ctrl.unit.commanders">{{ cmd }}</p>
<p ng-repeat="desc in ctrl.unit.descriptions">{{ desc }}</p>
<p ng-if="ctrl.unit.note"><span translate>NOTE</span>: {{ ctrl.unit.note }}</p>
<p ng-if="ctrl.unit.source || ctrl.unit.sid">
  <span translate>SOURCE</span>: {{ ctrl.unit.source || ctrl.unit.sid | concatList }}
</p>
