<div ng-if="ctrl.imagePager">
  <div ng-show="ctrl.isLoadingImages && !ctrl.imageCount">{{ 'FETCHING_PHOTOS' | translate }} <img src="images/loading.gif" /></div>
  <div ng-show="!ctrl.isLoadingImages && !ctrl.imageCount" translate>NO_RELATED_PHOTOS</div>
  <div ng-if="ctrl.imageCount">
    <p>{{ ctrl.imageCount }} {{ 'N_PHOTOS' | translate }}
    <span ng-show="ctrl.hasMore || !ctrl.isCollapsed"> |
      <a href="" ng-click="ctrl.toggleCollapse()">
        <span ng-show="ctrl.isCollapsed" translate>SHOW_ALL_PHOTOS</span>
        <span ng-show="!ctrl.isCollapsed" translate>SHOW_LESS_PHOTOS</span>
      </a>
    </span>
    <img ng-show="ctrl.isLoadingImages" src="images/loading.gif" />
    </p>
    <div class="collapse-with-teaser photo-gallery" uib-collapse="ctrl.isCollapsed" id="photo-thumbs">
      <div id="photo-container">
        <a ng-repeat="img in ctrl.photos" data-gallery
          title="{{ img.description }} ({{ img.created }} {{ img.source }})" href="{{ img.url }}">
          <div class="gallery-thumbnail-container">
            <img ws-fallback-img-for-gallery class="gallery-thumbnail" ng-src="{{ img.thumbnail }}" />
          </div>
        </a>
      </div>
    </div>
  </div>
</div>

