<div class="row related" ng-if="relatedCtrl.totalItems"
  ng-init="show = true">
  <div class="col-sm-12">
    <h3 ng-click="show = !show">
      <a>{{ title }} ({{ relatedCtrl.totalItems }})
        <span ng-class="['glyphicon', {'glyphicon-menu-down': show, 'glyphicon-menu-right': !show}]"></span>
      </a>
        <img src="images/loading.gif" ng-show="relatedCtrl.isLoadingPage" />
    </h3>
    <div uib-collapse="!show">
      <ul class="list-group">
        <li class="list-group-item" ng-repeat="thing in relatedCtrl.related">
          <span ng-if="!external">
            <a ws-page-link="thing.id" data-external="external">{{ thing.label | words:10 }}</a>
          </span>
          <span ng-if="external">
            <a ng-href="{{ thing.id }}">{{ thing.label | words:10 }}</a>
          </span->
        </li>
        <li class="list-group-item" ng-if="relatedCtrl.totalItems > relatedCtrl.pageSize">
          <uib-pagination total-items="relatedCtrl.totalItems" ng-change="relatedCtrl.updatePage()"
            ng-model="relatedCtrl.currentPage" max-size="5" previous-text="&lsaquo;"
            next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"
            class="pagination-sm no-margin" boundary-links="true"></uib-pagination>
        </li>
      </ul>
    </div>
  </div>
</div>
