<div class="row related" ng-if="related && related.length"
  ng-init="show = related.length <= 10">
  <div class="col-sm-12">
    <h3 ng-click="show = !show">
      <a>{{ title }} ({{ related.length }})
        <span ng-class="['glyphicon', {'glyphicon-menu-down': show, 'glyphicon-menu-right': !show}]"></span>
      </a>
    </h3>
    <div uib-collapse="!show">
      <ul class="list-group">
        <li class="list-group-item" ng-repeat="thing in related">
        <span ng-switch="!!external">
          <span ng-switch-when="false">
            <a ws-page-link="thing.id">{{ thing.verboseLabel || thing.getLabel() || thing.label | words:10 }}</a>
          </span>
          <span ng-switch-when="true">
            <a ng-href="{{ thing.id }}">{{ thing.getLabel() || thing.label | words:10 }}</a>
          </span>
        </span>
        </li>
      </ul>
    </div>
  </div>
</div>
