<div id="blueimp-gallery-{{ ::ctrl.galleryId }}" class="blueimp-gallery blueimp-gallery-controls">
  <!-- The container for the modal slides -->
  <div class="slides"></div>
  <!-- Controls for the borderless lightbox -->
  <h3 class="title"></h3>
  <a class="prev">‹</a>
  <a class="next">›</a>
  <a class="close">×</a>
</div>
<div>
  <div ng-show="ctrl.isLoadingImages">
    {{ 'FETCHING_PHOTOS' | translate }} <img src="images/loading.gif" />
  </div>
  <p ng-show="!ctrl.isLoadingImages">
    <img ng-show="ctrl.isLoadingMoreImages" src="images/loading.gif" />
  </p>
  <div ng-if="ctrl.imageCount" class="simple-photo-gallery-container">
    <div id="photo-thumbs-{{ ctrl.galleryId }}" class="simple-collapse-with-teaser photo-gallery" >
      <div id="photo-container-{{ ctrl.galleryId }}">
        <a ng-repeat="img in ctrl.photos"
          data-gallery="#blueimp-gallery-{{ ::ctrl.galleryId }}"
          title="{{ ::img.getDescription() }}"
          data-id="{{ ::img.id }}"
          ng-href="{{ ::img.full_size_url }}">
          <div class="simple-gallery-thumbnail-container">
            <img ws-fallback-img-for-gallery class="simple-gallery-thumbnail" ng-src="{{ ::img.thumbnail_url }}" />
            <p class="simple-gallery-caption">{{ ::img.getDescription() }}</p>
          </div>

        </a>
      </div>
    </div>
  </div>
</div>
