<div> <a id="pageTypeURL" href="persons/"><h1 id="pageType" translate>CEMETERY</h1></a></div>
<!-- Each page has metadata column on the left and link column on the right -->
<div class="row">
  <!-- Metadata -->
  <div class="col-sm-8">
    <img ng-show="vm.isLoadingMedal" src="images/loading.gif" />
    <p ng-if="!vm.cemetery && !vm.isLoadingCemetery" translate>NO_METADATA_FOUND</p>
    <div id="dataContent" ng-if="vm.cemetery">
      <h2>
        {{ vm.cemetery.getLabel() }}
      </h2>
    </div>
  </div>
  <!-- Links -->
  <div class="col-sm-4">
    <h2 id="links-header" class="links-header-class" translate>LINKS</h2>
    <img ng-show="vm.isLoadingLinks" src="images/loading.gif" />
    <p ng-if="(!vm.cemetery || !vm.cemetery.hasLinks) && !vm.isLoadingLinks" translate>NO_LINKS_FOUND</p>
    <div id="linkContent">
      <ws-related-links-paged data-title="'CEMETERY_DEMO.PEOPLE_BURIED' | translate" data-paginator="vm.cemetery.relatedPersons"></ws-related-links-paged>
      <ws-related-links-paged data-title="'CEMETERY_DEMO.OTHER_CEMETERIES_CLOSE' | translate" data-paginator="vm.relatedCemeteriesByPlace"></ws-related-links-paged>

    </div>
</div>
