<div> <a id="pageTypeURL" href="cemeteries/"><h1 id="pageType" translate>CEMETERY</h1></a></div>

<!-- Each page has metadata column on the left and link column on the right -->
<div class="row">

  <div ng-if="vm.err">
    <p class="error-msg bg-danger">
    {{ 'ERROR_OCCURED' | translate }} <br /><br />
    <b>{{ ctrl.err }}</b> <br /><br />
    </p>
  </div>
  <!-- Metadata -->
  <div ng-show="!vm.err" class="col-sm-8">
    <img ng-show="vm.isLoadingCemetery" src="images/loading.gif" />
    <p ng-if="!vm.cemetery && !vm.isLoadingCemetery" translate>NO_METADATA_FOUND</p>
    <div id="dataContent" ng-if="vm.cemetery">
      <h2>
        {{ vm.cemetery.getLabel() }}
      </h2>
      <p ng-if="vm.cemetery.date_of_foundation">
        Perustamisvuosi: {{ vm.cemetery.date_of_foundation }}
      </p>
      <p ng-if="vm.cemetery.number_of_graves">
        Hautojen lukumäärä: {{ vm.cemetery.number_of_graves }}
      </p>
      <p ng-if="vm.cemetery.memorial">
        Muistomerkki: {{ vm.cemetery.memorial }} (kuvanveistäjä: {{ vm.cemetery.memorial_sculptor }}, paljastettu {{ vm.cemetery.memorial_unveiling_date }})
      </p>
      <p ng-if="vm.cemetery.address">
        Katusoite: {{ vm.cemetery.address }}
      </p>
      <p>
        <small class="uri">{{ 'URI' | translate }}:&nbsp;{{ vm.cemetery.id }}</small>
      </p>

      <ws-simple-photo-gallery images="vm.cemetery.images" class="cemetery-info-page-gallery"></ws-simple-photo-gallery>


        <div id="cemetery-death-places-map" ng-if="vm.hasDeathPlaces">
          <h3>Menehtymispaikat</h3>
          <div id="simple-google-map-container" class="cemetery-info-page-map-container">
            <ws-google-map id="simple-google-map" places="vm.places" style="position: absolute;"></ws-google-map>
          </div>
        </div>

        <div id="cemetery-visualizations" ng-if="vm.hasVisualizableData">

          <h3>Sankarivainajien joukko-osastot</h3>
          <div class="chart-block">
            <div class="chartjs-container">
              <canvas class="chart chart-pie" chart-data="vm.unitChart.data" chart-labels="vm.unitChart.labels" chart-options="vm.chartOptions.unitChart"></canvas>
            </div><div class="chartjs-legend" ng-bind-html="vm.unitChart.legendHtml"></div>
          </div>

          <h3>Sankarivainajien sotilasarvot</h3>
          <div class="chart-block">
            <div class="chartjs-container">
              <canvas class="chart chart-pie" chart-data="vm.rankChart.data" chart-labels="vm.rankChart.labels" chart-options="vm.chartOptions.rankChart"></canvas>
            </div><div class="chartjs-legend" ng-bind-html="vm.rankChart.legendHtml"></div>
          </div>

          <h3>Sankarivainajien menehtymisluokat</h3>
          <div class="chart-block">
            <div class="chartjs-container">
              <canvas class="chart chart-pie" chart-data="vm.wayChart.data" chart-labels="vm.wayChart.labels" chart-options="vm.chartOptions.wayChart"></canvas>
            </div><div class="chartjs-legend" ng-bind-html="vm.wayChart.legendHtml"></div>
          </div>

        </div>

    </div>
  </div>

  <!-- Links -->
  <div class="col-sm-4">
    <h2 id="links-header" class="links-header-class" translate>LINKS</h2>
    <img ng-show="vm.isLoadingLinks" src="images/loading.gif" />
    <!-- <p ng-if="(!vm.cemetery || !vm.cemetery.hasLinks) && !vm.isLoadingLinks" translate>NO_LINKS_FOUND</p> -->
    <div id="linkContent">
      <ws-related-links-paged data-title="'CEMETERY_DEMO.PEOPLE_BURIED' | translate" data-paginator="vm.cemetery.buriedPersonsPager"></ws-related-links-paged>
      <ws-related-links-paged data-title="'CEMETERY_DEMO.PEOPLE_BURIED_UNITS' | translate" data-paginator="vm.cemetery.unitsPager"></ws-related-links-paged>
      <ws-related-links-paged data-title="'CEMETERY_DEMO.OTHER_CEMETERIES_CLOSE' | translate" data-paginator="vm.relatedCemeteriesByPlace"></ws-related-links-paged>

    </div>
  </div>

</div>
