<update-title title="{{ 'TITLE' | translate }} | {{ 'CEMETERY_DEMO.TITLE' | translate }}"></update-title>
<update-meta name="description" content="{{ 'CEMETERY_DEMO.APP_DESCRIPTION' | translate }}"></update-meta>
<update-meta name="robots" content="index, follow"></update-meta>
<div class="row cemetery-demo-container">
  <div class="col-md-12">
      <div class="row">
        <div class="photo-demo-description col-md-12">
          <div class="panel panel-default">
            <div class="panel-body">
              <h1 translate>CEMETERY_DEMO.HEADER</h1>
              <p translate>CEMETERY_DEMO.APP_DESCRIPTION</p>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
      <div class="col-md-3">
        <seco-jena-text-facet data-options="vm.facets.name"></seco-jena-text-facet>
        <div class="show-facets row">
          <div class="col-xs-12">
            <button class="btn btn-default pull-right visible-xs-block"
              ng-click="show = !show">{{ show ? ('PHOTO_DEMO.HIDE_FACETS' | translate) : ('PHOTO_DEMO.SHOW_FACETS' | translate) }}</button>
          </div>
        </div>
        <div class="hideable-facets" ng-class="{ 'hidden-sm hidden-xs': !show }">
          <seco-basic-facet data-options="vm.facets.current_municipality"></seco-basic-facet>
          <seco-basic-facet data-options="vm.facets.former_municipality"></seco-basic-facet>
          <seco-basic-facet data-options="vm.facets.architect"></seco-basic-facet>
          <seco-basic-facet data-options="vm.facets.camera_club"></seco-basic-facet>
        </div>
      </div>
      <div class="col-md-9">
        <div uib-alert class="alert-danger" ng-if="vm.error">
          <p>{{ 'ERROR_OCCURED' | translate }}:</p>
          <p>{{ vm.error | translate }}</p>
        </div>
        <ui-view><ui-view>
      </div>
    </div>

  </div>
</div>
