<ws-title>{{ 'CEMETERY_DEMO.TITLE' | translate }}</ws-title>
<div class="row">
  <div id="cemetery-demo-container" class="col-md-12">
      <div class="col-sm-4 col-md-2 facet-container">
        <div class="hideable-facets" ng-class="{ 'hidden-xs': !show }">
          <seco-text-facet data-options="vm.facets.name"></seco-text-facet>
          <seco-basic-facet data-options="vm.facets.cemetery_type"></seco-basic-facet>
          <seco-basic-facet data-options="vm.facets.current_municipality"></seco-basic-facet>
          <seco-basic-facet data-options="vm.facets.former_municipality"></seco-basic-facet>
          <seco-basic-facet data-options="vm.facets.architect"></seco-basic-facet>
          <seco-basic-facet data-options="vm.facets.memorial"></seco-basic-facet>
          <seco-basic-facet data-options="vm.facets.camera_club"></seco-basic-facet>
        </div>
      </div>

      <div class="col-sm-8 col-md-9">
        <div uib-alert class="alert-danger" ng-if="vm.error">
          <p>{{ 'ERROR_OCCURED' | translate }}:</p>
          <p>{{ vm.error | translate }}</p>
        </div>

        <div>
            <h1 translate>CEMETERY_DEMO.HEADER</h1>
            <p translate>CEMETERY_DEMO.APP_DESCRIPTION</p>
        </div>

        <div ng-if="vm.resultFormat == 'map'" id="cemetery-results-google-map-container">
          <ws-google-map id="cemetery-results-google-map" places="vm.cemeteries" style="position: absolute;"></ws-google-map>
        </div>

        <div ng-if="vm.resultFormat == 'list'" ng-include="'views/partials/cemetery_results_partial.html'"></div>

        <!-- <br>
        <br>

        <h3>Hautojen lukumäärä</h3>
        <br>
        <br>
        <canvas id="bar" class="chart chart-horizontal-bar" chart-data="vm.barChart.data" chart-labels="vm.barChart.labels"></canvas> -->

      </div>


  </div>
</div>
