<update-title title="{{ 'TITLE' | translate }} | {{ 'CEMETERY_DEMO.TITLE' | translate }}: {{ vm.cemetery.getLabel() }}"></update-title>
<update-meta name="description" content="{{ 'CEMETERY_DEMO.PAGE_META_DESCRIPTION_PREFIX' | translate }}: {{ vm.cemetery.getLabel() }}"></update-meta>
<update-meta name="robots" content="index, follow"></update-meta>
<div class="row">

  <div ng-if="vm.err">
    <p class="error-msg bg-danger">
    {{ 'ERROR_OCCURED' | translate }} <br /><br />
    <b>{{ ctrl.err }}</b> <br /><br />
    </p>
  </div>
  <!-- Metadata -->
  <div ng-show="!vm.err" class="col-sm-8">
    <img ng-show="vm.isLoadingCemetery" src="images/loading.gif" />
    <p ng-if="!vm.cemetery && !vm.isLoadingCemetery" translate>NO_METADATA_FOUND</p>
    <div id="dataContent" ng-if="vm.cemetery">
      <h2>
        {{ vm.cemetery.getLabel() }}
      </h2>
      <p ng-if="vm.cemetery.original_narc_name">
        {{ 'CEMETERY_DEMO.NARC_NAME' | translate }}: {{ vm.cemetery.original_narc_name }}
      </p>
      <p ng-if="vm.cemetery.date_of_foundation">
        {{ 'CEMETERY_DEMO.FOUNDATION_YEAR' | translate }}: {{ vm.cemetery.date_of_foundation }}
      </p>
      <p ng-if="vm.cemetery.number_of_graves">
        {{ 'CEMETERY_DEMO.NUMBER_OF_GRAVES' | translate }}: {{ vm.cemetery.number_of_graves }}
      </p>
      <p ng-if="vm.cemetery.memorial">
        {{ 'CEMETERY_DEMO.MEMORIAL' | translate }}: {{ vm.cemetery.memorial }}
        <span ng-if="vm.cemetery.memorial_sculptor">({{ 'CEMETERY_DEMO.SCULPTOR' | translate }}: {{vm.cemetery.memorial_sculptor}}<span ng-if="vm.cemetery.memorial_unveiling_date">, {{ 'CEMETERY_DEMO.UNVEILING_DATE' | translate }} {{ vm.cemetery.memorial_unveiling_date }}</span>)</span>
      </p>
      <p ng-if="vm.cemetery.current_municipality">
        {{ 'CEMETERY_DEMO.CURRENT_MUNICIPALITY' | translate }}: {{ vm.cemetery.current_municipality }}
      </p>
      <p ng-if="vm.cemetery.former_municipality">
        {{ 'CEMETERY_DEMO.FORMER_MUNICIPALITY' | translate }}: {{ vm.cemetery.former_municipality }}
      </p>
      <p ng-if="vm.cemetery.address">
        {{ 'CEMETERY_DEMO.STREET_ADDRESS' | translate }}: <a href="https://maps.google.com/?q={{vm.cemetery.address}}">{{ vm.cemetery.address }}</a>
      </p>
      <p>
        <small class="uri">{{ 'URI' | translate }}:&nbsp;{{ vm.cemetery.id }}</small>
      </p>

      <ws-simple-photo-gallery images="vm.cemetery.images" class="cemetery-info-page-gallery"></ws-simple-photo-gallery>


        <div id="cemetery-death-places-map" ng-if="vm.hasDeathPlaces">
          <h3>{{ 'CEMETERY_DEMO.PEOPLE_BURIED_DEATH_PLACES' | translate }}</h3>
          <div id="simple-google-map-container" class="cemetery-info-page-map-container">
            <ws-google-map id="simple-google-map" places="vm.places" style="position: absolute;"></ws-google-map>
          </div>
        </div>

        <div id="cemetery-visualizations" ng-if="vm.hasVisualizableData">

          <h3>{{ 'CEMETERY_DEMO.PEOPLE_BURIED_UNITS' | translate }}</h3>
          <div class="chart-block">
            <div class="chartjs-container">
              <canvas class="chart chart-pie" chart-data="vm.unitChart.data" chart-labels="vm.unitChart.labels" chart-options="vm.chartOptions.unitChart"></canvas>
            </div><div class="chartjs-legend" ng-bind-html="vm.unitChart.legendHtml"></div>
          </div>

          <h3>{{ 'CEMETERY_DEMO.PEOPLE_BURIED_RANKS' | translate }}</h3>
          <div class="chart-block">
            <div class="chartjs-container">
              <canvas class="chart chart-pie" chart-data="vm.rankChart.data" chart-labels="vm.rankChart.labels" chart-options="vm.chartOptions.rankChart"></canvas>
            </div><div class="chartjs-legend" ng-bind-html="vm.rankChart.legendHtml"></div>
          </div>

          <h3>{{ 'CEMETERY_DEMO.PEOPLE_BURIED_AGES' | translate }}</h3>
          <div class="chart-block">
              <canvas class="chart chart-bar" chart-data="vm.ageChart.data" chart-labels="vm.ageChart.labels" chart-options="vm.chartOptions.ageChart"></canvas>
          </div>

          <h3>{{ 'CEMETERY_DEMO.PEOPLE_BURIED_WAY_TO_DIE' | translate }}</h3>
          <div class="chart-block">
            <div class="chartjs-container">
              <canvas class="chart chart-pie" chart-data="vm.wayChart.data" chart-labels="vm.wayChart.labels" chart-options="vm.chartOptions.wayChart"></canvas>
            </div><div class="chartjs-legend" ng-bind-html="vm.wayChart.legendHtml"></div>
          </div>

          <div class="well cemetery-casulties-link">
            <h3><a ng-href="{{vm.casualtiesLink}}" target="_blank">{{ 'CEMETERY_DEMO.CLICK_HERE' | translate }}</a> {{ 'CEMETERY_DEMO.CASUALTIES_LINK' | translate }}</h3>
          </div>

        </div>

    </div>
  </div>

  <!-- Links -->
  <div class="col-sm-4">
    <h2 id="links-header" class="links-header-class" translate>LINKS</h2>
    <img ng-show="vm.isLoadingLinks" src="images/loading.gif" />
    <!-- <p ng-if="(!vm.cemetery || !vm.cemetery.hasLinks) && !vm.isLoadingLinks" translate>NO_LINKS_FOUND</p> -->
    <div id="linkContent">
      <ws-related-links-paged data-title="'CEMETERY_DEMO.PEOPLE_BURIED' | translate" data-paginator="vm.cemetery.buriedPersonsPager"></ws-related-links-paged>
      <ws-related-links-paged data-title="'CEMETERY_DEMO.PEOPLE_BURIED_UNITS' | translate" data-paginator="vm.cemetery.unitsPager"></ws-related-links-paged>
      <ws-related-links-paged data-title="'CEMETERY_DEMO.OTHER_CEMETERIES_CLOSE' | translate" data-paginator="vm.relatedCemeteriesByPlace"></ws-related-links-paged>

    </div>
  </div>

</div>
