<ws-settings></ws-settings>
<div><h1 id="pageType"><a id="pageTypeURL" href="events/" translate>EVENT</a></h1></div>
<!-- Each page has metadata column on the left and link column on the right -->
<div class="row">
  <!-- Metadata -->
  <div class="col-sm-8">
    <img ng-show="ctrl.isLoadingEvent" src="images/loading.gif" />
    <p ng-if="!ctrl.event && !ctrl.isLoadingEvent" translate>NO_METADATA_FOUND</p>
    <div id="dataContent" ng-if="ctrl.event">
      <h2>
        <span ng-repeat="place in ctrl.event.places">
          <a ws-page-link="place.id">{{ place.label }}</a>{{ $last ? ' ' : ', ' }}
        </span>
        <span ng-if="ctrl.event.timeSpanString">
          <a ws-page-link="ctrl.event.time_id">{{ ctrl.event.timeSpanString }}</a> -
        </span>{{ ctrl.event.getTypeLabel() }}
      </h2>
      <p>{{ ctrl.event.getDescription() }}</p>
      <p ng-if="ctrl.event.source">
        <small>{{ 'SOURCE' | translate }}: {{ ctrl.event.source | concatList }}</small>
      </p>
      <p><a ng-href="{{ ctrl.demoLink }}" translate>SHOW_IN_DEMO</a></p>
      <ws-photo-gallery data-images="ctrl.images"></ws-photo-gallery>
    </div>
  </div>
  <!-- Links -->
  <div class="col-sm-4">
    <h2 id="links-header" class="links-header-class" translate>LINKS</h2>
    <img ng-show="ctrl.isLoadingLinks" src="images/loading.gif" />
    <p ng-if="(!ctrl.event || !ctrl.event.hasLinks) && !ctrl.isLoadingLinks" translate>NO_LINKS_FOUND</p>
    <div id="linkContent">
      <ws-related-links-paged data-title="'EVENT_DEMO.OTHER_EVENTS_AT_THE_SAME_TIME' | translate" data-paginator="ctrl.relatedEventsByTime"></ws-related-links-paged>
      <ws-related-links-paged data-title="'EVENT_DEMO.OTHER_EVENTS_CLOSE' | translate" data-paginator="ctrl.relatedEventsByPlace"></ws-related-links-paged>
      <ws-related-links data-title="'RELATED_PEOPLE' | translate" data-related="ctrl.event.people"></ws-related-links>
      <ws-related-links data-title="'RELATED_UNITS' | translate" data-related="ctrl.event.units"></ws-related-links>
    </div>
  </div>
</div>
