<ws-settings></ws-settings>
<ws-title>{{ ctrl.event.description }}</ws-title>
<update-meta name="description" content="{{ ctrl.event.type + (ctrl.event.timeSpanString ? (' ' + ctrl.event.timeSpanString) : '') }}: {{ ctrl.event.description }}"></update-meta>
<div class="row">
  <!-- Metadata -->
  <div class="col-sm-8">
    <div uib-alert class="alert-danger" ng-if="ctrl.error">
      <p>{{ 'ERROR_OCCURED' | translate }}:</p>
      <p>{{ ctrl.error | translate }}</p>
    </div>
    <img ng-show="ctrl.isLoadingEvent" src="images/loading.gif" />
    <p ng-if="!ctrl.event && !ctrl.isLoadingEvent" translate>NO_METADATA_FOUND</p>
    <div id="dataContent" ng-if="ctrl.event">
      <event-details data-event="ctrl.event"></event-details>
      <p ng-if="ctrl.demoLink"><a ng-href="{{ ctrl.demoLink }}" translate>SHOW_IN_DEMO</a></p>
      <ws-photo-gallery data-images="ctrl.images"></ws-photo-gallery>
    </div>
  </div>
  <!-- Links -->
  <div class="col-sm-4">
    <h2 id="links-header" class="links-header-class" translate>LINKS</h2>
    <img ng-show="ctrl.isLoadingLinks" src="images/loading.gif" />
    <p ng-if="(!ctrl.event || !ctrl.event.hasLinks) && !ctrl.isLoadingLinks" translate>NO_LINKS_FOUND</p>
    <div id="linkContent">
      <ws-related-links-paged data-title="'EVENT_DEMO.OTHER_EVENTS_AT_THE_SAME_TIME' | translate" data-paginator="ctrl.relatedEventsByTime"></ws-related-links-paged>
      <ws-related-links-paged data-title="'EVENT_DEMO.OTHER_EVENTS_CLOSE' | translate" data-paginator="ctrl.relatedEventsByPlace"></ws-related-links-paged>
      <ws-related-links data-title="'RELATED_PEOPLE' | translate" data-related="ctrl.event.people"></ws-related-links>
      <ws-related-links data-title="'RELATED_UNITS' | translate" data-related="ctrl.event.units"></ws-related-links>
    </div>
  </div>
</div>
