<update-title title="{{ 'TITLE' | translate }} | {{ 'MEDAL_DEMO.TITLE' | translate }}"></update-title>
<update-meta name="description" content="{{ vm.medal.description || ('MEDAL' | translate) + ' ' + vm.medal.getLabel() }}"></update-meta>
<update-meta name="robots" content="index, follow"></update-meta>
<div class="row">
  <!-- Metadata -->
  <div class="col-sm-8">
    <img ng-show="vm.isLoadingMedal" src="images/loading.gif" />
    <p ng-if="!vm.medal && !vm.isLoadingMedal" translate>NO_METADATA_FOUND</p>
    <div id="dataContent" ng-if="vm.medal">
      <h2>
        {{ vm.medal.getLabel() }}
      </h2>
      <p ng-switch="!!vm.medal.getDescription()">
        <span ng-switch-when="true">{{ vm.medal.getDescription() }} (Wikipedia)</span>
        <span ng-switch-when="false" translate>MEDAL</span>
      </p>
      <p ng-if="vm.error" class="error-msg bg-danger">vm.error</p>
      <p class="uri"><small>{{ 'URI' | translate }}:&nbsp;{{ vm.medal.id }}</small></p>
    </div>
  </div>
  <!-- Links -->
  <div class="col-sm-4">
    <h2 id="links-header" class="links-header-class" translate>LINKS</h2>
    <img ng-show="vm.isLoadingLinks" src="images/loading.gif" />
    <div id="linkContent">
    	<ws-related-links-paged data-title="'RELATED_PEOPLE' | translate" data-paginator="vm.medal.persons"></ws-related-links-paged>
  		<ws-related-links data-title="'MEDAL_DEMO.RELATED_MEDALS' | translate" data-related="vm.medal.relatedMedals"></ws-related-links-paged>
  	</div>
</div>
