<h3 id="links-header" class="links-header-class">Kansallisbibliografia</h3>
<ul class="list-group">
  <li class="list-group-item" >
  <div>
    <h1>{{ ctrl.person.nationals.label }}</h1>
    <p>Syntymäpaikka {{ ctrl.person.nationals.placeOfBirth }}. Kuolinpaikka {{ ctrl.person.nationals.placeOfDeath }}.</p>
    <p><img ng-src="{{ ctrl.person.nationals.image }}" class="img-rounded"/></p>
    <p>{{ ctrl.person.nationals.type }}</p>
    <p>{{ ctrl.person.nationals.comment }}</p>
  </div>
  <b>Lähde</b>: 
  <a href="http://www.ldf.fi/dataset/history">Semanttinen Kansallisbiografia</a> \ SKS:n <a href="http://www.kansallisbiografia.fi"> Kansallisbiografia</a>

  </li>
</ul>
