<div ng-include="'views/setting_accordion.html'"></div>
<div> <a id="pageTypeURL" href="/events"><h1 id="pageType">Tapahtuma</h1></a></div> 
<!-- Each page has metadata column on the left and link column on the right -->
<div class="row">
  <!-- Metadata -->
  <div class="col-sm-8">
    <img ng-show="ctrl.isLoadingEvent" src="images/loading.gif" />
    <p ng-if="!ctrl.event && !ctrl.isLoadingEvent">Metadataa ei löytynyt</p>
    <div id="dataContent" ng-if="ctrl.event">
      <h2>
        <span ng-repeat="place in ctrl.event.places">
          <a page-link="place.id">{{ place.label }}</a>{{ $last ? ' ' : ', ' }}
        </span>
        <a page-link="ctrl.event.time_id">{{ ctrl.event.timeSpanString }}</a> - {{ ctrl.event.type }}
      </h2>
      <p>{{ ctrl.event.description }}</p>
      <p><a ng-href="events/?uri={{ ctrl.event.id }}">Näytä aikajanalla</a></p>
      <div ng-show="ctrl.images.length === 0">
        <p ng-if="!ctrl.isLoadingImages">
        Ei tapahtumaan liittyviä kuvia.
        </p>
        <p ng-if="ctrl.isLoadingImages">
        Haetaan kuvia <img src="images/loading.gif" />
        </p>
      </div>
      <div ng-show="!ctrl.isLoadingImages && ctrl.images.length">
        <p>
        {{ ctrl.images.length }} kuvaa
        </p>
      </div>
      <photo-scroller images="ctrl.images"></photo-scroller>
    </div>
  </div>
  <!-- Links -->
  <div class="col-sm-4">
    <h2 id="links-header" class="links-header-class">Linkit</h2>
    <img ng-show="ctrl.isLoadingLinks" src="images/loading.gif" />
    <p ng-if="!ctrl.event || !ctrl.event.hasLinks">Linkkejä ei löytynyt</p>
    <div id="linkContent">
      <related-links title="'Muita tapahtumia samaan aikaan'" data-related="ctrl.relatedEventsByTime"></related-links>
      <related-links title="'Muita tapahtumia samalla alueella'" data-related="ctrl.relatedEventsByPlace"></related-links>
      <related-links title="'Tapahtumaan liittyviä henkilöitä'" data-related="ctrl.event.actors"></related-links>
    </div>
  </div>
</div>
