<div ng-include="'views/setting_accordion.html'"></div>
<div> <a id="pageTypeURL" href="/events"><h1 id="pageType">Tapahtuma</h1></a></div> 
<!-- Each page has metadata column on the left and link column on the right -->
<div class="row">
  <!-- Metadata -->
  <div class="col-sm-8">
    <img ng-show="ctrl.isLoadingEvent" src="images/loading.gif" />
    <p ng-if="!ctrl.event && !ctrl.isLoadingEvent">Metadataa ei löytynyt</p>
    <div id="dataContent" ng-if="ctrl.event">
      <h2>
        <span ng-repeat="place in ctrl.event.places">
          <a page-link data-id="{{ place.id }}">{{ place.label }}</a>{{ $last ? ' ' : ', ' }}
        </span>
        {{ ctrl.event.timeSpanString }} - {{ ctrl.event.type }}
      </h2>
      <p>{{ ctrl.event.description }}</p>
      <p><a ng-href="events/?uri={{ ctrl.event.id }}">Näytä aikajanalla</a></p>
      <div ng-show="ctrl.images.length === 0">
        <p ng-if="!ctrl.isLoadingImages">
        Ei tapahtumaan liittyviä kuvia.
        </p>
        <p ng-if="ctrl.isLoadingImages">
        Haetaan kuvia <img src="images/loading.gif" />
        </p>
      </div>
      <div ng-show="!ctrl.isLoadingImages && ctrl.images.length">
        <p>
        {{ ctrl.images.length }} kuvaa
        </p>
      </div>
      <div id="photo-thumbs">
        <div id="photo-container">
          <a ng-cloak ng-repeat="img in ctrl.images"
            ng-controller="PhotoCtrl as photoCtrl" ng-click="photoCtrl.showPhotoGallery()"
            data-gallery title="{{ img.description }} ({{ img.created }} SA-kuva)" href="{{ img.url }}">
            <img fallback-img data-thumbnail="true" ng-src="{{ img.thumbnail }}" /></a>
        </div>
      </div>
    </div>
  </div>
  <!-- Links -->
  <div class="col-sm-4">
    <h2 id="links-header" class="links-header-class">Links</h2>
    <img ng-show="ctrl.isLoadingLinks" src="images/loading.gif" />
    <p ng-if="!ctrl.event || !ctrl.event.hasLinks">Linkkejä ei löytynyt</p>
    <div id="linkContent">
      <related title="'Muita tapahtumia samalla aikaan'" related="ctrl.relatedEventsByTime" />
      <related title="'Muita tapahtumia samaan alueella'" related="ctrl.relatedEventsByPlace" />
      <related title="'Tapahtumaan liittyviä henkilöitä'" related="ctrl.event.actors" />
    </div>
  </div>
</div>
