<ws-json-ld data-json="ctrl.person.jsonLd"></ws-json-ld>
<div class="row">
  <div ng-if="ctrl.person.nationals" class="col-md-4 col-md-push-8 col-sm-12">
    <div ng-include="'views/partials/national_bibliography_partial.html'"></div>
  </div>
  <div ng-class="{ 'col-md-8 col-md-pull-4 col-sm-12': ctrl.person.nationals, 'col-md-12': !ctrl.person.nationals }">

    <p class="preserve-whitespace" ng-if="ctrl.person.getDescription()">{{ ctrl.person.getDescription() }} <span ng-if="ctrl.person.wikilink">(<a ng-href="{{ ctrl.person.wikilink[0].id }}">Wikipedia</a>)</span>
    <div ng-include="'views/partials/person_personal_details_partial.html'"></div>
    <div ng-include="'views/partials/person_disappearance_details_partial.html'"></div>
    <div ng-include="'views/partials/person_prisoner_record_partial.html'"></div>
    <div ng-include="'views/partials/person_death_details_partial.html'"></div>
    <div ng-include="'views/partials/person_death_record_partial.html'"></div>

    <!-- Links -->
    <h2 id="links-header" class="links-header-class" ng-if="ctrl.person.hasLinks"></h2>
    <img ng-show="ctrl.isLoadingLinks" src="images/loading.gif" />
    <div id="linkContent">
      <ws-related-links data-external data-title="'Wikipedia'" data-related="ctrl.person.wikilink"></ws-related-links>
      <ws-related-links data-title="'RELATED_EVENTS' | translate" data-related="ctrl.person.events"></ws-related-links>
      <ws-related-links data-title="'RELATED_UNITS' | translate" data-related="ctrl.person.units"></ws-related-links>
      <ws-related-links data-external data-title="'WAR_DIARIES' | translate" data-related="ctrl.person.diaries"></ws-related-links>
      <ws-related-links data-title="'RELATED_BATTLES' | translate" data-related="ctrl.person.battles"></ws-related-links>
      <ws-related-links data-title="'RELATED_RANKS' | translate" data-related="ctrl.person.ranks"></ws-related-links>
      <ws-related-links data-title="'RELATED_MEDALS' | translate" data-related="ctrl.person.medals"></ws-related-links>
      <ws-related-links-paged data-additional-text="'PERSONS_DEMO.RELATED_PEOPLE_DESCRIPTION' | translate" data-title="'RELATED_PEOPLE' | translate" data-paginator="ctrl.person.relatedPersons"></ws-related-links-paged>
      <ws-related-links data-title="'RELATED_PLACES' | translate" data-related="ctrl.person.places"></ws-related-links>
      <ws-related-links data-title="'KANSA_TAISTELI_ARTICLES' | translate" data-related="ctrl.person.articles"></ws-related-links>
    </div>
  </div>
</div>
