<update-title title="{{ 'TITLE' | translate }} | {{ ctrl.person.label }}"></update-title>
<update-meta name="description" content="{{ 'PERSONS_DEMO.DEMO_META_DESCRIPTION_PREFIX' | translate }}: {{ ctrl.person.getMetaDescription() }}"></update-meta>
<h1>{{ ctrl.person.getLabel() }}</h1>
<img ng-show="ctrl.isLoadingObject" src="images/loading.gif" />
<div ng-if="ctrl.err">
  <p class="error-msg bg-danger">
    {{ 'ERROR_OCCURED' | translate }} <br /><br />
    <b>{{ ctrl.err }}</b> <br /><br />
  </p>
</div>
<p ng-if="!ctrl.person && !ctrl.isLoadingObject" translate>NO_METADATA_FOUND</p>
<div class="tabset-container">
  <ul class="nav nav-tabs">
    <li ui-sref="app.lang.persons.demo.page.info({ tab: 1 })" ui-sref-active="active" class="person-timeline-tab">
      <a href=""><span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span> {{ 'PERSONS_DEMO.INFO_TAB' | translate }}</a>
    </li>
    <li ui-sref="app.lang.persons.demo.page.timeline({ tab: 2 })" ui-sref-active="active" class="person-timeline-tab">
      <a href=""><span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span> {{ 'PERSONS_DEMO.TIMELINE_TAB' | translate }}</a>
    </li>
    <li ui-sref="app.lang.persons.demo.page.photographs({ tab: 3 })" ui-sref-active="active" class="person-timeline-tab">
      <a href=""><span class="glyphicon glyphicon-camera" aria-hidden="true"></span> {{ 'PERSONS_DEMO.PHOTO_TAB' | translate }}</a>
    </li>
    <li ui-sref="app.lang.persons.demo.page.videos({ tab: 4 })" ui-sref-active="active" class="person-timeline-tab">
      <a href=""><span class="glyphicon glyphicon-facetime-video" aria-hidden="true"></span> {{ 'PERSONS_DEMO.VIDEO_TAB' | translate }}</a>
    </li>
  </ul>
  <div class="tab-content">
    <ui-view></ui-view>
  </div>
</div>

