<div> <a id="pageTypeURL" href="persons/"><h1 id="pageType" translate>PERSON</h1></a></div>
<div class="row">
  <!-- Metadata -->
  <div class="col-sm-8">
    <img ng-show="ctrl.isLoadingEvent" src="images/loading.gif" />
    <p ng-if="!ctrl.person && !ctrl.isLoadingEvent" translate>NO_METADATA_FOUND</p>
    <div id="dataContent" ng-if="ctrl.person">
      <h2>
        {{ ctrl.person.label }}
      </h2>
      <div ng-include="'views/partials/person_description_partial.html'"></div>
      <p><a ws-page-link="ctrl.person.id" demo translate>SHOW_IN_DEMO</a></p>

      <ws-photo-gallery images="ctrl.person.images"></ws-photo-gallery>

      <div ng-include="'views/partials/person_death_record_partial.html'"></div>
    </div>
  </div>
  <!-- Links -->
  <div class="col-sm-4">
    <h2 id="links-header" class="links-header-class" translate>LINKS</h2>
    <img ng-show="ctrl.isLoadingLinks" src="images/loading.gif" />
    <p ng-if="!ctrl.person.hasLinks" translate>NO_LINKS_FOUND</p>
    <div id="linkContent">
      <ws-related-links data-title="'RELATED_EVENTS' | translate" data-related="ctrl.person.events"></ws-related-links>
      <ws-related-links data-title="'RELATED_UNITS' | translate" data-related="ctrl.person.units"></ws-related-links>
      <ws-related-links data-title="'RELATED_BATTLES' | translate" data-related="ctrl.person.battles"></ws-related-links>
      <ws-related-links data-title="'RELATED_RANKS' | translate" data-related="ctrl.person.ranks"></ws-related-links>
      <ws-related-links data-title="'RELATED_MEDALS' | translate" data-related="ctrl.person.medals"></ws-related-links>
      <ws-related-links data-title="'PERSONS_DEMO.RELATED_PEOPLE' | translate" data-related="ctrl.person.relatedPersons"></ws-related-links>
      <ws-related-links data-title="'RELATED_PLACES' | translate" data-related="ctrl.person.places"></ws-related-links>
      <ws-related-links data-external data-title="'Wikipedia'" data-related="ctrl.person.wikilink"></ws-related-links>
      <ws-related-links data-external data-title="'WAR_DIARIES' | translate" data-related="ctrl.person.diaries"></ws-related-links>
      <ws-related-links title="'KANSA_TAISTELI_ARTICLES' | translate" data-related="ctrl.person.articles"></ws-related-links>
     <div ng-if="ctrl.person.nationals" ng-include="'views/partials/national_bibliography_partial.html'"></div>
  </div> 
</div>
