<ws-settings></ws-settings>
<div class="row">
  <div class="col-sm-3">
    <h2 translate>PERSONS_DEMO.TITLE</h2>
    <translate>PERSONS_DEMO.HELP_TEXT</translate>
    <input
      type="text"
      value=""
      class="form-control"
      ng-model-options="{ debounce: 500 }"
      placeholder="{{ 'PERSONS_DEMO.SEARCH_BOX_PLACEHOLDER' | translate }}"
      ng-model="ctrl.queryregex" ng-change="ctrl.getItems()" />
    <select ng-model="ctrl.selectedItem" ng-change="ctrl.updateSelection()"
      size="32" class="form-control" id="personselect"
      ng-options="item as item.name for item in ctrl.items">
    </select>
  </div>
  <div class="col-sm-9">
    <img ng-show="ctrl.isLoadingObject" src="images/loading.gif" />
    {{ ctrl.err }}
    <p ng-if="!ctrl.person && !ctrl.isLoadingObject" translate>NO_METADATA_FOUND</p>
    <div id="dataContent" ng-if="ctrl.person">
      <h2>{{ ctrl.person.label }}</h2>
      <div ng-include="'views/partials/person_description_partial.html'"></div>
      <p><a ws-page-link="ctrl.person.id" translate>SHOW_INFO_PAGE</a></p>
    </div>
    <uib-tabset active="ctrl.activeTab">
      <uib-tab select="ctrl.selectTab(1)" index="1" heading="PERSONS_DEMO.INFO">
        <!-- Links -->
        <h2 id="links-header" class="links-header-class" ng-if="ctrl.person.hasLinks"></h2>
        <img ng-show="ctrl.isLoadingLinks" src="images/loading.gif" />
        <div id="linkContent">

          <ws-photo-gallery images="ctrl.person.images"></ws-photo-gallery>

          <div ng-if="ctrl.person.nationals" ng-include="'views/partials/national_bibliography_partial.html'"></div>
          <ws-related-links data-title="'RELATED_EVENTS' | translate" data-related="ctrl.person.events"></ws-related-links>
          <ws-related-links data-title="'RELATED_UNITS' | translate" data-related="ctrl.person.units"></ws-related-links>
          <ws-related-links data-title="'RELATED_BATTLES' | translate" data-related="ctrl.person.battles"></ws-related-links>
          <ws-related-links data-title="'RELATED_RANKS' | translate" data-related="ctrl.person.ranks"></ws-related-links>
          <ws-related-links data-title="'RELATED_MEDALS' | translate" data-related="ctrl.person.medals"></ws-related-links>
          <ws-related-links data-title="'RELATED_PLACES' | translate" data-related="ctrl.person.places"></ws-related-links>
          <ws-related-links data-external data-title="'Wikipedia'" data-related="ctrl.person.wikilink"></ws-related-links>
          <ws-related-links data-external data-title="'WAR_DIARIES' | translate" data-related="ctrl.person.diaries"></ws-related-links>
          <ws-related-links data-title="'KANSA_TAISTELI_ARTICLES' | translate" data-related="ctrl.person.articles"></ws-related-links>
        </div>
      </uib-tab>
      <uib-tab index="2" heading="TIMELINE" select="ctrl.selectTab(2)">
        <div ng-include="'views/partials/event_timeline_partial.html'"></div>
      </uib-tab>
    </uib-tabset>
  </div>
</div>

