<div ng-include="'views/partials/setting_accordion.html'"></div>
<div class="row">
  <div class="col-sm-3">
    <h2>Henkilöt</h2>
    <p>Hae tunnettuja viime sotien henkilöitä kirjoittamalla tekstiä alla olevaan täydennyskenttään ja/tai valitse henkilö kentän alla olevasta listasta.
    Henkilön tiedot ja suosituslinkkejä muihin tietoihin ilmestyy vasemmalle.</p>
    <input type="text" value="" class="form-control" placeholder="Hae henkilön nimellä"
    ng-model="ctrl.queryregex" ng-change="ctrl.getItems()">
    <select ng-model="ctrl.selectedItem" ng-change="ctrl.updateActor()" size="32" class="form-control" id="personselect"
      ng-options="item as item.name for item in ctrl.items"></select>
  </div>
  <div class="col-sm-9">
    <img ng-show="ctrl.isLoadingEvent" src="images/loading.gif" />
    <p ng-if="!ctrl.person && !ctrl.isLoadingEvent">No metadata available for this object.</p>
    <div id="dataContent" ng-if="ctrl.person">
      <h2>{{ ctrl.person.label }}</h2>
      <div ng-include="'views/partials/person_description_partial.html'"></div>
      <p><a ng-href="persons/page?uri={{ ctrl.person.id }}">Näytä henkilön tietosivu</a></p>
    </div>
    <!-- Links -->
    <h2 id="links-header" class="links-header-class" ng-if="ctrl.person.hasLinks"></h2>
    <img ng-show="ctrl.isLoadingLinks" src="images/loading.gif" />
    <div id="linkContent">

      <photo-scroller images="ctrl.person.images"></photo-scroller>

      <div ng-if="ctrl.person.nationals" ng-include="'views/partials/national_bibliography_partial.html'"></div>
      <related-links title="'Tapahtumat'" data-related="ctrl.person.events"></related-links>
      <related-links title="'Joukko-osastot'" data-related="ctrl.person.units"></related-links>
      <related-links title="'Taistelut'" data-related="ctrl.person.battles"></related-links>
      <related-links title="'Sotilasarvot'" data-related="ctrl.person.ranks"></related-links>
      <related-links title="'Paikat'" data-related="ctrl.person.places"></related-links>
      <related-links title="'Kansa Taisteli -artikkelit'" data-related="ctrl.person.articles"></related-links>
    </div>
  </div>
</div>

