<div> <a id="pageTypeURL" href="persons/"><h1 id="pageType">Henkil&ouml;</h1></a></div> 
<!-- Each page has metadata column on the left and link column on the right -->
<div class="row">
  <!-- Metadata -->
  <div class="col-sm-8">
    <img ng-show="ctrl.isLoadingEvent" src="images/loading.gif" />
    <p ng-if="!ctrl.person && !ctrl.isLoadingEvent">No metadata available for this object.</p>
    <div id="dataContent" ng-if="ctrl.person">
      <h2>
        {{ ctrl.person.getLabel() }}
      </h2>
      <p ng-repeat="desc in ctrl.person.getDescription()">
      {{ desc }}
      </p>
      <p><a ng-href="persons?uri={{ ctrl.person.id }}">Näytä henkilön tapahtumasivu</a></p>
    </div>
  </div>
  <!-- Links -->
  <div class="col-sm-4">
    <h2 id="links-header" class="links-header-class">Linkit</h2>
    <img ng-show="ctrl.isLoadingLinks" src="images/loading.gif" />
    <p ng-if="!ctrl.person.hasLinks">No links found for this object.</p>
    <div id="linkContent">
      <related-links title="'Tapahtumat'" data-related="ctrl.person.events"></related-links>
      <related-links title="'Joukko-osastot'" data-related="ctrl.person.units"></related-links>
      <related-links title="'Taistelut'" data-related="ctrl.person.battles"></related-links>
      <related-links title="'Sotilasarvot'" data-related="ctrl.person.ranks"></related-links>
      <related-links title="'Paikat'" data-related="ctrl.person.places"></related-links>
      <div ng-if="ctrl.person.articles">
	    <h3 id="links-header" class="links-header-class">Kansa Taisteli -artikkelit</h3>
	    <img ng-show="ctrl.isLoadingLinks" src="images/loading.gif" />
	     <ul class="list-group">
          <li class="list-group-item" ng-repeat="art in ctrl.person.articles">
          <a ng-href="http://sotasampo.fi/page?uri={{ art.id }}">{{ art.description | words:10 }}</a>
          </li>
       </ul>
     </div>
     <div ng-if="ctrl.person.nationals" ng-include="'views/national_bibliography_partial.html'"></div>
  </div>
</div>
