<update-title title="{{ 'TITLE' | translate }} | {{ 'PHOTO' | translate }}: {{ vm.photo.label | words:10 }}"></update-title>
<update-meta name="description" content="{{ vm.photo.description }}"></update-meta>
<update-meta name="robots" content="index, follow"></update-meta>
<div class="row">
  <!-- Metadata -->
  <div class="col-sm-8">
    <img ng-show="vm.isLoadingObj" src="images/loading.gif" />
    <p ng-if="!vm.photo && !vm.isLoadingObj" translate>NO_METADATA_FOUND</p>
    <div id="dataContent" ng-if="vm.photo">
      <h2><span id="pageType" translate>PHOTO</span>
        <span ng-repeat="place in vm.photo.places">
          <a ws-page-link="place.id">{{ place.label }}</a>{{ $last ? ' ' : ', ' }}
        </span>
        <span ng-if="vm.photo.created">
          <a ws-page-link="vm.photo.time_id">{{ vm.photo.created | date:'dd.MM.yyyy' }}</a>
        </span>
        <span ng-if="vm.photo.period">({{ vm.photo.period }})</span>
      </h2>
      <p>
        {{ vm.photo.description }}
        <span ng-if="vm.photo.place_string">({{ vm.photo.place_string }})</span>
      </p>
      <p ng-if="vm.photo.note"><small>{{ vm.photo.note }}</small></p>
      <p ng-if="vm.photo.creators || vm.photo.photographer_string">
        <span translate>PHOTOGRAPHER</span>:
        <span ng-repeat="person in vm.photo.creators">
          <a ng-click="vm.close()" ws-page-link="person.id">{{ person.getLabel() || person.sname }}</a>{{ $last ? ' ' : ', ' }}
        </span>
        <span ng-if="!vm.photo.creators && vm.photo.photographer_string">{{ vm.photo.photographer_string }}</span>
      </p>
      <p>
        <a data-gallery="#blueimp-gallery-photo-single" ng-href="{{ vm.photo.full_size_url }}">
          <img class="img img-responsive" ws-fallback-img alt="{{ vm.photo.description }}" title="{{ vm.photo.description }}" ng-src="{{ vm.photo.full_size_url }}" />
        </a>
      </p>
      <p>
        <small ng-if="vm.photo.source">{{ 'SOURCE' | translate }}: {{ vm.photo.source }} | </small>
        <small class="uri">{{ 'URI' | translate }}:&nbsp;{{ vm.photo.id }}</small>
      </p>
      <p><a ng-href="{{ vm.getDemoLink() }}" translate>SHOW_IN_DEMO</a></p>
      <ws-photo-gallery data-images="vm.photo.relatedPhotos"></ws-photo-gallery>
    </div>
  </div>
  <!-- Links -->
  <div class="col-sm-4">
    <h2 id="links-header" class="links-header-class" translate>LINKS</h2>
    <img ng-show="vm.isLoadingLinks" src="images/loading.gif" />
    <p ng-if="(!vm.photo || !vm.photo.hasLinks) && !vm.isLoadingLinks" translate>NO_LINKS_FOUND</p>
    <div id="linkContent">
      <ws-related-links-paged data-title="'PHOTO_DEMO.RELATED_PEOPLE' | translate"
        data-paginator="vm.photo.people"></ws-related-links-paged>
      <ws-related-links data-title="'PHOTO_DEMO.RELATED_UNITS' | translate"
        data-related="vm.photo.units"></ws-related-links>
      <ws-related-links-paged data-title="'PHOTO_DEMO.EVENTS_AT_THE_SAME_TIME' | translate"
        data-paginator="vm.relatedEventsByTime"></ws-related-links-paged>
      <ws-related-links-paged data-title="'PHOTO_DEMO.EVENTS_CLOSE' | translate"
        data-paginator="vm.relatedEventsByPlace"></ws-related-links-paged>
    </div>
  </div>
</div>
