<ws-title>{{ 'RANK_DEMO.TITLE' | translate }}</ws-title>
<div class="row">
  <!-- Metadata -->
  <div class="col-sm-8">
    <h1 id="pageType"><a id="pageTypeURL" href="persons/" translate>RANK</a></h1>
    <p class="uri">{{ ctrl.rank.id }}</p>
    <img ng-show="ctrl.isLoadingRank" src="images/loading.gif" />
    <p ng-if="!ctrl.rank && !ctrl.isLoadingRank" translate>NO_METADATA_FOUND</p>
    <div id="dataContent" ng-if="ctrl.rank">
      <h2>
        {{ ctrl.rank.getLabel() }}
      </h2>
      <p ng-if="ctrl.rank.getDescription()">{{ ctrl.rank.getDescription() }} (Wikipedia)</p>
    </div>
  </div>
  <!-- Links -->
  <div class="col-sm-4">
    <h2 id="links-header" class="links-header-class" translate>LINKS</h2>
    <img ng-show="ctrl.isLoadingPersons" src="images/loading.gif" />
    <div id="linkContent">
    <ws-related-links-paged data-title="'RELATED_PEOPLE' | translate" data-paginator="ctrl.rank.persons"></ws-related-links-paged>
    <ws-related-links data-external data-title="'Wikipedia'" data-related="ctrl.rank.wikilink"></ws-related-links>
    <ws-related-links data-title="'RANK_DEMO.SUPER_RANKS' | translate" data-related="ctrl.rank.upperRanks"></ws-related-links>
    <ws-related-links data-title="'RANK_DEMO.SUB_RANKS' | translate" data-related="ctrl.rank.lowerRanks"></ws-related-links>
    <ws-related-links data-title="'RANK_DEMO.OTHER_RANKS' | translate" data-related="ctrl.rank.relatedRanks"></ws-related-links>
  </div>
</div>
