<div> <a id="pageTypeURL" href="persons/"><h1 id="pageType" translate>RANK</h1></a></div>
<!-- Each page has metadata column on the left and link column on the right -->
<div class="row">
  <!-- Metadata -->
  <div class="col-sm-8">
    <img ng-show="ctrl.isLoadingRank" src="images/loading.gif" />
    <p ng-if="!ctrl.rank && !ctrl.isLoadingRank" translate>NO_METADATA_FOUND</p>
    <div id="dataContent" ng-if="ctrl.rank">
      <h2>
        {{ ctrl.rank.label }}
      </h2>
      <p ng-repeat="desc in ctrl.rank.getDescription()">
      {{ desc }}
      </p>
    </div>
  </div>
  <!-- Links -->
  <div class="col-sm-4">
    <h2 id="links-header" class="links-header-class">Linkit</h2>
    <img ng-show="ctrl.isLoadingPersons" src="images/loading.gif" />
    <div id="linkContent">
    <ws-related-links-paged data-paginator="ctrl.rank.persons" data-title="'RELATED_PERSONS' | translate"></ws-related-links-paged>
    <ws-related-links data-external data-title="'Wikipedia'" data-related="ctrl.rank.wikilink"></ws-related-links>
    <ws-related-links data-title="'SUPER_RANKS' | translate" data-related="ctrl.rank.upperRanks"></ws-related-links>
    <ws-related-links data-title="'SUB_RANKS' | translate" data-related="ctrl.rank.lowerRanks"></ws-related-links>
    <ws-related-links data-title="'OTHER_RANKS' | translate" data-related="ctrl.rank.relatedRanks"></ws-related-links>
  </div>
</div>
