<div> <a id="pageTypeURL" href="actors/"><h1 id="pageType">Sotilasarvo</h1></a></div> 
<!-- Each page has metadata column on the left and link column on the right -->
<div class="row">
  <!-- Metadata -->
  <div class="col-sm-8">
    <img ng-show="ctrl.isLoadingEvent" src="images/loading.gif" />
    <p ng-if="!ctrl.rank && !ctrl.isLoadingEvent">No metadata available for this object.</p>
    <div id="dataContent" ng-if="ctrl.rank">
      <h2>
        {{ ctrl.rank.getLabel() }}
      </h2>
      <!--
      <p ng-repeat="desc in ctrl.rank.getDescription()">
      {{ desc }}
      </p> -->
    </div>
  </div>
  <!-- Links -->
  <div class="col-sm-4">
    <h2 id="links-header" class="links-header-class">Linkit</h2>
    <img ng-show="ctrl.isLoadingLinks" src="images/loading.gif" />
    <div id="linkContent">
      
    <div ng-if="ctrl.rank.persons">
	    <h3 id="links-header" class="links-header-class">Henkilöt</h3>
	    <img ng-show="ctrl.isLoadingLinks" src="images/loading.gif" />
	    <p ng-if="!ctrl.rank || !ctrl.rank.persons">Ei näytettävää sisältöä.</p>
	     <ul class="list-group">
          <li class="list-group-item" ng-repeat="person in ctrl.rank.persons">
          <a ng-href="persons/page?uri={{ person.id }}">{{ person.label | words:10 }}</a>
          </li>
       </ul>
     </div>
      
  </div>
</div>
