<div><h1 id="pageType">{{ ctrl.obj.type.label }}</h1></div> 
<!-- Each page has metadata column on the left and link column on the right -->
<div class="row">
  <!-- Metadata -->
  <div class="col-sm-8">
    <img ng-show="ctrl.isLoadingObject" src="images/loading.gif" />
    <p ng-if="!ctrl.obj && !ctrl.isLoadingObject" translate>METADATA_NOT_FOUND</p>
    <div id="dataContent" ng-if="ctrl.obj">
      <h2>
        {{ ctrl.obj.label }}
      </h2>
      <p>{{ ctrl.obj.description }}</p>
      <img ng-if="ctrl.obj.imageUrl" ng-src="{{ ctrl.obj.imageUrl }}" />
      <img ng-if="ctrl.obj.lat"
      ng-src="https://maps.googleapis.com/maps/api/staticmap?size=600x300&zoom=5&markers=color:red%7C{{ ctrl.obj.lat }},{{ ctrl.obj.lon }}" />
      <div ng-repeat="(key, v) in ctrl.obj.properties">
        <h2>{{ v[0].pred_label }}</h2>
        <ul class="list-group">
          <li class="list-group-item" ng-repeat="val in v">
            <a ng-if="val.type === 'uri'" ws-page-link="val.value">{{ val.label }}</a>
            <p ng-if="val.type !== 'uri'">{{ val.value }}</p>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <!-- Links -->
  <div class="col-sm-4">
    <h2 id="links-header" class="links-header-class" translate>LINKS</h2>
    <img ng-show="ctrl.isLoadingLinks" src="images/loading.gif" />
    <p ng-if="!ctrl.isLoadingLinks && !(ctrl.obj && ctrl.obj.hasLinks)" translate>NO_LINKS_FOUND</p>
    <div id="linkContent">
      <div ng-repeat="rel in ctrl.obj.related">
        <ws-related-links-paged data-title="rel.link.label" data-paginator="rel.related"></ws-related-links-paged>
      </div>
    </div>
  </div>
</div>
