<div class="row flat-accordion">
  <div class="col-md-12 no-side-padding">
      <div class="form-inline">
        <accordion>
        <accordion-group is-open="timemapCtrl.settingsVisible">
          <label for="photo-days-before">Valokuvien aikahaarukka 
            <input min="0" name="photo-days-before"
              class="form-control input-short" type="number" ng-model="timemapCtrl.photoDaysBeforeSetting" /> päivää ennen
            </label>
          <label for="photo-days-after">
            <input min="0" name="photo-days-after"
              class="form-control input-short" type="number" ng-model="timemapCtrl.photoDaysAfterSetting" /> päivää jälkeen tapahtuman.
          </label>
          <label for="photo-place">
            <input name="photo-place"
              class="form-control" type="CHECKBOX" ng-model="timemapCtrl.photoPlaceSetting" /> Rajoita kuvienottopaikka samaan kuntaan tapahtumien kanssa.
          </label>
          <button class="btn btn-primary" ng-click="timemapCtrl.updateTimeline()" ng-if="timemapCtrl.photoConfigChanged()">Päivitä</button>
          <label for="heatmap-toggle">
            <input ng-change="timemapCtrl.updateHeatmap()" name="heatmap-toggle"
              class="form-control" type="CHECKBOX" ng-model="timemapCtrl.showCasualtyHeatmap" /> Näytä lämpökartta menehtyneistä.
          </label>
        </accordion-group>
        </accordion>
      </div>
    </div>
    </div>
</div>
<div class="row">
  <div class="col-lg-5 col-lg-push-7 col-md-12">
    <div class="row">
      <div class="col-md-12">
        <div ng-show="timemapCtrl.current">
          <h3>
            <span ng-repeat="place in timemapCtrl.current.opts.event.places">
              <a target="_blank" ng-href="{{ place.hipla_url }}">{{ place.label }}</a>{{ $last ? ' ' : ', ' }}
            </span>
            {{ timemapCtrl.current.opts.descTitle }} - {{ timemapCtrl.current.opts.event.type }}
          </h3>
          <p>{{ timemapCtrl.current.opts.description }}</p>
          <p ng-repeat="person in timemapCtrl.current.commanders" style="text-transform: capitalize">
            {{ person.label }}
          </p>
          <p ng-repeat="unit in timemapCtrl.current.units" style="text-transform: capitalize">
            {{ unit.label.join(' / ') }}
          </p>
          <div ng-show="timemapCtrl.images.length === 0">
            <p ng-if="!timemapCtrl.isLoadingImages && !timemapCtrl.showPhotos">
            Ei tapahtumaan liittyviä kuvia.
            </p>
            <p ng-if="timemapCtrl.isLoadingImages">
            Haetaan kuvia <img ng-src="images/loading.gif" />
            </p>
          </div>
          <div ng-show="!timemapCtrl.isLoadingImages && timemapCtrl.images.length">
            <p ng-show="!timemapCtrl.showPhotos">
            {{ timemapCtrl.images.length }} kuvaa
            </p>
            <div id="photo-thumbs">
              <div id="photo-container">
                <a ng-cloak ng-repeat="img in timemapCtrl.images" ng-click="timemapCtrl.showPhotoGallery()"
                  data-gallery title="{{ img.description }} ({{ img.created }} SA-kuva)" href="{{ img.url }}">
                  <img data-thumbnail="true" ng-src="{{ img.thumbnail }}" /></a>
              </div>
            </div>
          </div>
        </div>
        <div ng-if="!timemapCtrl.current">
          <h3>Valitse tapahtuma aikajanalta tai kartalta.</h3>
          <p>
            Aikajanaa voi liikuttaa vetämällä hiirellä. Asetuksia, kuten valokuvien haun aikahaarkukkaa, voi muuttaa valitsemalla yläpalkista "Asetukset".
          </p>
          <p>
            Kartalla näkyvät kullakin hetkellä (ylemmällä) aikajanalla näkyvissä olevat tapahtumat, jos niiden paikka on tiedossa.
            Lisäksi kartalla näkyy lämpökartta (ylemmällä) aikajanalla näkyvällä ajanjaksolla sodassa menehtyneistä suomalaisista.
          </p>
          <h4>Tapahtumien värikoodit</h4>
          <p><img src="vendor/timemap/images/red-circle.png"> Sotatoimi</p>
          <p><img src="vendor/timemap/images/purple-circle.png"> Poliittinen tapahtuma</p>
          <p><img src="vendor/timemap/images/orange-circle.png"> Muu tapahtuma</p>
          <p><img src="vendor/timemap/images/green-circle.png"> Tällä hetkellä valittu tapahtuma</p>
        </div>
        <hr/>
        <div id="casualtyCount" ng-click="timemapCtrl.showCasualtyStats = !timemapCtrl.showCasualtyStats">
          <p>Menehtyneitä ajanjaksolla {{ timemapCtrl.minVisibleDate.toLocaleDateString() }} - {{ timemapCtrl.maxVisibleDate.toLocaleDateString() }}: {{ timemapCtrl.casualtyCount }}</p>
        </div>
        <div class="row animate-text" ng-if="timemapCtrl.showCasualtyStats" ng-repeat="casualtyClass in timemapCtrl.casualtyStats">
          <div ng-if="casualtyClass.id">
            <div class="col-xs-10 casualtyCount">
              {{ casualtyClass.description }}
            </div>
            <div class="col-xs-2 casualtyCount">
              {{ casualtyClass.count }}
            </div>
          </div>
        </div>
        <div class="row" ng-repeat="person in timemapCtrl.current.related_people">
          <div class="col-md-12" style="text-transform: capitalize">
            <h4>
              {{ person.sotilasarvo.toLowerCase() }} {{ person.etunimet.toLowerCase() }} {{ person.sukunimi.toLowerCase() }}
            </h4>
            <div class="row">
              <div class="col-xs-6">
                Kuolinaika:
              </div>
              <div class="col-xs-6">
                {{ person.kuolinaika }}
              </div>
            </div>
            <div class="row">
              <div class="col-xs-6">
                Kuolinpaikka:
              </div>
              <div class="col-xs-6">
                {{ person.kuolinpaikka }}
              </div>
            </div>
            <div class="row">
              <div class="col-xs-6">
                Menehtymisluokka:
              </div>
              <div class="col-xs-6" style="text-transform: none">
                {{ person.menehtymisluokka }}
              </div>
            </div>
            <div class="row">
              <div class="col-xs-6">
                Ammatti:
              </div>
              <div class="col-xs-6">
                {{ person.ammatti }}
              </div>
            </div>
            <div class="row">
              <div class="col-xs-6">
                Siviilisääty:
              </div>
              <div class="col-xs-6">
                {{ person.siviilisaeaety }}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-7 col-lg-pull-5 col-md-12">
    <div id="timemap" ng-show="!timemapCtrl.showPhotos" class="animate-right">
      <div id="mapcontainer">
        <div id="map"></div>
      </div>
      <div id="timelinecontainer">
        <div id=timeline></div>
      </div>
    </div>
  </div>
</div>
