<ws-title>{{ 'TIME_DEMO.TITLE' | translate }}</ws-title>
<div class="row">
  <!-- Metadata -->
  <div class="col-sm-8">
    <h1 id="pageType"><a id="pageTypeURL" href="events" translate>TIME</a></h1>
    <p class="uri">{{ ctrl.time.id }}</p>
    <img ng-show="ctrl.isLoadingObj" src="images/loading.gif" />
    <p ng-if="!ctrl.time && !ctrl.isLoadingObj" translate>NO_METADATA_FOUND</p>
    <div id="dataContent" ng-if="ctrl.time">
      <h2>
        {{ ctrl.time.timeString }}
      </h2>
      <ws-photo-gallery data-images="ctrl.time.photos"></ws-photo-gallery>
    </div>
  </div>
  <!-- Links -->
  <div class="col-sm-4">
    <h2 id="links-header" class="links-header-class" translate>LINKS</h2>
    <img ng-show="ctrl.isLoadingLinks" src="images/loading.gif" />
    <p ng-if="(!ctrl.time || !ctrl.time.hasLinks) && !ctrl.isLoadingLinks" translate>NO_LINKS_FOUND</p>
    <div id="linkContent">
      <ws-related-links data-title="'TIME_DEMO.RELATED_EVENTS' | translate" related="ctrl.time.events"></ws-related-links>
      <ws-related-links-paged data-title="'TIME_DEMO.RELATED_CASUALTIES' | translate" paginator="ctrl.time.casualties"></ws-related-links-paged>
    </div>
  </div>
</div>
