<div> <a id="pageTypeURL" href="events"><h1 id="pageType">Aika</h1></a></div> 
<!-- Each page has metadata column on the left and link column on the right -->
<div class="row">
  <!-- Metadata -->
  <div class="col-sm-8">
    <img ng-show="ctrl.isLoadingObj" src="images/loading.gif" />
    <p ng-if="!ctrl.time && !ctrl.isLoadingObj">No metadata available for this object.</p>
    <div id="dataContent" ng-if="ctrl.time">
      <h2>
        {{ ctrl.time.timeString }}
      </h2>
      <photo-scroller images="ctrl.time.photos"></photo-scroller>
    </div>
  </div>
  <!-- Links -->
  <div class="col-sm-4">
    <h2 id="links-header" class="links-header-class">Linkit</h2>
    <img ng-show="ctrl.isLoadingLinks" src="images/loading.gif" />
    <p ng-if="!ctrl.time || !ctrl.time.hasLinks">No links found for this object.</p>
    <div id="linkContent">
      <related-links title="'Tapahtumia tähän aikaan'" related="ctrl.time.events"></related-links>
      <div class="related-people" ng-if="ctrl.time.actors || ctrl.time.relatedCasualties">
        <h3>Tähän aikaan kaatuneita</h3>
        <ul class="list-group" id="time-actors" style="text-transform: capitalize">
          <li class="list-group-item" ng-repeat="person in ctrl.time.casualties"><a ng-href="{{ person.id }}">
            {{ person.sotilasarvo.toLowerCase() }} {{ person.etunimet.toLowerCase() }} {{ person.sukunimi.toLowerCase() }}
          </a></li>
        </ul>
      </div>
    </div>
  </div>
</div>
