<div> <a id="pageTypeURL" href="units/"><h1 id="pageType">Joukko-osasto</h1></a></div> 
<!-- Each page has metadata column on the left and link column on the right -->
<div class="row">
  <!-- Metadata -->
  <div class="col-sm-8">
    <img ng-show="ctrl.isLoadingEvent" src="images/loading.gif" />
    <p ng-if="!ctrl.unit && !ctrl.isLoadingEvent">No metadata available for this object.</p>
    <div id="dataContent" ng-if="ctrl.unit">
      <h2>
        {{ ctrl.unit.label }}<span ng-if="ctrl.unit.abbrev.length"> ({{ ctrl.unit.abbrev | concatList }})</span>
      </h2>
      <div ng-include="'views/partials/unit_description_partial.html'"></div>
      <p><a ng-href="units/?uri={{ ctrl.unit.id }}">Näytä aikajanalla</a></p>
    </div>
  </div>
  <!-- Links -->
  <div class="col-sm-4">
    <h2 id="links-header" class="links-header-class">Linkit</h2>
    <img ng-show="ctrl.unit.isLoadingLinks" src="images/loading.gif" />
    <p ng-if="!ctrl.isLoadingLinks && !ctrl.unit.hasLinks">No links found for this object.</p>
    <div id="linkContent">
			<related-links data-title="'Yläosasto'" data-related="ctrl.unit.superUnits"></related-links>
			<related-links data-title="'Alaosastoja'" data-related="ctrl.unit.subUnits"></related-links>
			<related-links data-title="'Muita osastoja'" data-related="ctrl.unit.relatedUnits"></related-links>
      <related-links data-title="'Taistelut'" data-related="ctrl.unit.battles"></related-links>
      <related-links-paged data-title="'Henkilöitä'" data-paginator="ctrl.unit.relatedPersons"></related-links-paged>
      <related-links data-title="'Paikat'" data-related="ctrl.unit.places"></related-links>
      <related-links data-title="'Kansa Taisteli -artikkelit'" data-related="ctrl.unit.articles"></related-links>
      <related-links data-external data-title="'Sotapäiväkirjat'" data-related="ctrl.unit.diaries"></related-links>
    </div>
  </div>
</div>
