<div ng-include="'views/partials/setting_accordion.html'"></div>
<div class="row">
  <div class="col-sm-3">
  	<h2 translate>UNIT_DEMO.TITLE</h2>
    <translate>UNIT_DEMO.DESCRIPTION</translate>
    <input type="text" placeholder="{{ 'UNIT_DEMO.SEARCH_BOX_PLACEHOLDER' | translate }}"
      class="form-control" ng-model="ctrl.queryregex" ng-change="ctrl.getItems()">
    <select ng-model="ctrl.current" ng-change="ctrl.updateUnit()" size="32" class="form-control" id="unitselect"
            ng-options="item as item.name for item in ctrl.items"></select>
	</div>

  <div class="col-sm-9">
    <div class="row">
      <div class="col-lg-5 col-lg-push-7 col-md-12">
        <div class="row">
          <div class="col-md-12">
            <div ng-show="ctrl.current">
              <h3 ng-if="ctrl.current && ctrl.current.name">
                {{ ctrl.current.name[0] }} <span ng-if="ctrl.current.abbrev.length">({{ ctrl.current.abbrev | concatList }})</span>
              </h3>
              <p ng-if="ctrl.current && ctrl.current.altNames.length">Osasto on tunnettu myös nimillä {{ ctrl.current.altNames.join('; ') }}</p>
              <div ng-show="ctrl.current.relatedEvents.length === 0" translate>
                NO_RELATED_EVENTS
              </div>
              <p ng-if="ctrl.current && ctrl.current.id"><a ng-href="units/page?uri={{ ctrl.current.id }}" translate>SHOW_INFO_PAGE</a></p>
              <h3 ng-if="ctrl.current.opts.descTitle">
                <span ng-repeat="place in ctrl.current.opts.event.places">
                  <a ws-page-link="place.id">{{ place.label }}</a>{{ $last ? ' ' : ', ' }}
                </span>
                {{ ctrl.current.opts.descTitle }} - {{ ctrl.current.opts.event.type }}
              </h3>
              <p>{{ ctrl.current.opts.description }}</p>
              <ws-related-links-paged data-title="'RELATED_PERSONS' | translate" data-paginator="ctrl.current.relatedPersons"></ws-related-links-paged>
              <ws-related-links data-title="'UNIT_DEMO.SUPER_UNITS' | translate" data-related="ctrl.current.superUnits"></ws-related-links>
              <ws-related-links data-title="'UNIT_DEMO.SUB_UNITS' | translate" data-related="ctrl.current.subUnits"></ws-related-links>
              <ws-related-links data-title="'RELATED_UNITS' | translate" data-related="ctrl.current.relatedUnits"></ws-related-links>
              <ws-related-links data-title="'RELATED_BATTLES' | translate" data-related="ctrl.current.battles"></ws-related-links>
              <ws-related-links data-title="'RELATED_PLACES' | translate" data-related="ctrl.current.places"></ws-related-links>
              <ws-related-links data-title="'KANSA_TAISTELI_ARTICLES' | translate" data-related="ctrl.current.articles"></ws-related-links>
              <ws-related-links data-external data-title="'Wikipedia'" data-related="ctrl.current.wikilink"></ws-related-links>
              <ws-related-links data-external data-title="'WAR_DIARIES' | translate" data-related="ctrl.current.diaries"></ws-related-links>

              <p ng-repeat="unit in ctrl.current.units" style="text-transform: capitalize">
              {{ unit.label.join(' / ') }}
              </p>

              <ws-photo-gallery data-images="ctrl.images"></ws-photo-gallery>
            </div>
            <div ng-if="!ctrl.current">
              <h3 translate>UNIT_DEMO.HELP_TEXT_TITLE</h3>
              <translate>UNIT_DEMO.HELP_TEXT</translate>
              <h4 translate>EVENT_COLORS</h4>
              <p><img src="vendor/timemap/images/red-circle.png"> {{ 'MILITARY_ACTIVITY' | translate }}</p>
              <p><img src="vendor/timemap/images/purple-circle.png"> {{ 'POLITICAL_ACTIVITY' | translate }}</p>
              <p><img src="vendor/timemap/images/orange-circle.png"> {{ 'OTHER_EVENT' | translate }}</p>
              <p><img src="vendor/timemap/images/green-circle.png"> {{ 'CURRENTLY_SELECTED_EVENT' | translate }}</p>
            </div>
            <hr/>
            <div id="casualtyCount" ng-click="ctrl.showCasualtyStats = !ctrl.showCasualtyStats">
              <p>{{ 'UNIT_DEMO.CASUALTIES_DURING_TIMESPAN' | translate }} {{ ctrl.minVisibleDate | date : 'd.M.yyyy' }} - {{ ctrl.maxVisibleDate | date : 'd.M.yyyy' }}: {{ ctrl.casualtyCount }}
              | <a>{{ timemapCtrl.showCasualtyStats ? 'HIDE_ADDITIONAL_INFO' : 'SHOW_ADDITIONAL_INFO' | translate }}</a>
              </p>
            </div>
            <div uib-collapse="!ctrl.showCasualtyStats">
              <div class="row" ng-repeat="casualtyClass in ctrl.casualtyStats">
                <div ng-if="casualtyClass.id">
                  <div class="col-xs-10 casualtyCount">
                    {{ casualtyClass.description }}
                  </div>
                  <div class="col-xs-2 casualtyCount">
                    {{ casualtyClass.count }}
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-7 col-lg-pull-5 col-md-12">
        <div id="timemap" class="animate-right">
          <div id="mapcontainer">
            <div id="map"></div>
          </div>
          <div id="timelinecontainer">
            <div id=timeline></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
