<ws-title>{{ ctrl.unit.label }}</ws-title>
<div class="row">
  <!-- Metadata -->
  <div class="col-sm-8">
    <img ng-show="ctrl.isLoadingEvent" src="images/loading.gif" />
    <p ng-if="!ctrl.unit && !ctrl.isLoadingEvent" translate>NO_METADATA_FOUND</p>
    <div id="dataContent" ng-if="ctrl.unit">
      <h2>
        <span>{{ ctrl.unit.label }}</span><span ng-if="ctrl.unit.abbrev.length"> – {{ ctrl.unit.abbrev | concatList }}</span>
      </h2>
      <div ng-include="'views/partials/unit_description_partial.html'"></div>
      <p><a ws-page-link="ctrl.unit.id" demo translate>SHOW_IN_DEMO</a></p>

      <ws-photo-gallery images="ctrl.unit.images"></ws-photo-gallery>

    </div>
  </div>
  <!-- Links -->
  <div class="col-sm-4">
    <h2 id="links-header" class="links-header-class" translate>LINKS</h2>
    <img ng-show="ctrl.unit.isLoadingLinks" src="images/loading.gif" />
    <p ng-if="!ctrl.isLoadingLinks && !ctrl.unit.hasLinks" translate>NO_LINKS_FOUND</p>
    <div id="linkContent">
			<ws-related-links data-title="'SUPER_UNITS' | translate" data-related="ctrl.unit.superUnits"></ws-related-links>
			<ws-related-links data-title="'SUB_UNITS' | translate" data-related="ctrl.unit.subUnits"></ws-related-links>
			<ws-related-links data-title="'OTHER_UNITS' | translate" data-related="ctrl.unit.relatedUnits"></ws-related-links>
      <ws-related-links data-title="'RELATED_BATTLES' | translate" data-related="ctrl.unit.battles"></ws-related-links>
      <ws-related-links data-title="'RELATED_EVENTS' | translate" data-related="ctrl.unit.events"></ws-related-links>
      <ws-related-links-paged data-title="'RELATED_PEOPLE' | translate" data-paginator="ctrl.unit.relatedPersons"></ws-related-links-paged>
      <ws-related-links data-title="'RELATED_PLACES' | translate" data-related="ctrl.unit.places"></ws-related-links>
      <ws-related-links data-title="'KANSA_TAISTELI_ARTICLES' | translate" data-related="ctrl.unit.articles"></ws-related-links>
      <ws-related-links data-external data-title="'Wikipedia'" data-related="ctrl.unit.wikilink"></ws-related-links>
      <ws-related-links data-external data-title="'WAR_DIARIES' | translate" data-related="ctrl.unit.diaries"></ws-related-links>
    </div>
  </div>
</div>
